﻿<div class="page-sub-content">
    <div class="jumbotron">
        <div class="container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
            <div class="col-lg-24">
                <div class="row">
                    <div class="col-md-18">
                        <div class="inner">
                            <ol class="breadcrumb">
                                <li id="idHome" class="breadcrumb-item"><a href="javascript:void(0)"><i class="fa fa-home"></i>Home</a></li>
                                <li class="breadcrumb-item active">INVOICE</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-fixed-lg form-horizontal">
        <div class="col-lg-24">
            <div class="row">
                <div class="card card-default">
                    <div class="card-body">
                        <div class="col-sm-24">
                            <div class="form-group">
                                <jtse-grid id="grd_MC_Invoice"></jtse-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<jtse-modal id="mdl_MC_InvoiceNuevoEditar">
    <div class="form-horizontal panel-body" data-container="frmCabeceraInvoice">
        <div class="col-lg-24">
            <div class="row">
                <div class="col-sm-24">
                    <div class="form-group">
                        <label class="control-label col-sm-4">
                            <span>Codigo:</span><span class="red">&nbsp;*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control js-frmCl sn" />
                        </div>
                        <label class="control-label col-sm-4">
                            <span>Nombre:</span><span class="red">&nbsp;*</span>
                        </label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id="Cliente" type="text" class="form-control lmp required js-frmCl text-control-inp" readonly="" />
                                <div id="btn_MU_MdlClienteTrash" class="input-group-addon hand">
                                    <span class="fa fa-trash-o"></span>
                                </div>
                                <div id="btn_MU_MdlClienteSearch" class="input-group-addon hand">
                                    <span class="fa fa-search"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-24">
                    <div class="form-group">
                        <label class="control-label col-sm-4">
                            <span>Fecha Entrega:</span><span class="red">&nbsp;*</span>
                        </label>
                        <div class="col-sm-8" id="Fecha01"></div>
                        <label class="control-label col-sm-4">
                            <span>Dirrecion:</span><span class="red">&nbsp;*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control js-frmCl" id="Direccion" disabled />
                        </div>


                    </div>
                </div>
                <div class="col-sm-24">
                    <div class="form-group">
                        <label class="control-label col-sm-4">
                            <span>Fecha Terminada:</span><span class="red">&nbsp;*</span>
                        </label>
                        <div class="col-sm-8" id="Fecha02"></div>
                        <label class="control-label col-sm-4">
                            <span>Correo:</span><span class="red">&nbsp;*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control js-frmCl" id="Correo" disabled />
                        </div>
                    </div>
                </div>
                <div class="col-sm-24">
                    <div class="form-group">
                        <label class="control-label col-sm-4">
                            <span>Telefono:</span><span class="red">&nbsp;*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control js-frmCl sn" id="Telefono" disabled />
                        </div>
                    </div>
                </div>
                <div class="col-sm-24">
                    <div class="col-sm-24" style="padding:10px"></div>
                    <div class="col-sm-24">
                        <div class="col-sm-2">
                            <div class="grid-bottom">
                                <button class="btn btn-grid-new" id="btnAgregarDetalleAd">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-24">
                        <jtse-grid id="grd_MIP_OrdenDetalle"></jtse-grid>
                    </div>
                </div>
                <div class="col-sm-24">
                    <div class="form-group">
                        <div class="col-sm-15"></div>
                        <label class="control-label col-sm-4">
                            <span>SUBTOTAL:</span><span class="red">&nbsp;*</span>
                        </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control js-frmCl" id="subtotal" disabled />
                        </div>
                    </div>
                </div>
                <div class="col-sm-24">
                    <div class="form-group">
                        <div class="col-sm-15"></div>
                        <label class="control-label col-sm-4">
                            <span>DISCOUNT:</span><span class="red">&nbsp;*</span>
                        </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control js-frmCl" id="descuento" disabled />
                        </div>
                    </div>
                </div>
                <div class="col-sm-24">
                    <div class="form-group">
                        <div class="col-sm-15"></div>
                        <label class="control-label col-sm-4">
                            <span>SUBTOTAL LESS DISCOUNT:</span><span class="red">&nbsp;*</span>
                        </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control js-frmCl" id="subdes" disabled />
                        </div>
                    </div>
                </div>
                <div class="col-sm-24">
                    <div class="form-group">
                        <div class="col-sm-15"></div>
                        <label class="control-label col-sm-4">
                            <span>TAX RATE:</span><span class="red">&nbsp;*</span>
                        </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control js-frmCl" id="igv" disabled />
                        </div>
                    </div>
                </div>
                <div class="col-sm-24">
                    <div class="form-group">
                        <div class="col-sm-15"></div>
                        <label class="control-label col-sm-4">
                            <span>TOTAL TAX:</span><span class="red">&nbsp;*</span>
                        </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control js-frmCl" id="totaligv" disabled />
                        </div>
                    </div>
                </div>
                <div class="col-sm-24">
                    <div class="form-group">
                        <div class="col-sm-15"></div>
                        <label class="control-label col-sm-4">
                            <span>BALANCE DUE:</span><span class="red">&nbsp;*</span>
                        </label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control js-frmCl" id="total" disabled />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</jtse-modal>
<jtse-modal id="mdl_MC_ClienteNuevoEditar">
    <div class="form-horizontal panel-body" data-container="frmCabeceraCliente">
        <div class="col-sm-24">
            <div class="row">
                <div class="col-sm-24">
                    <jtse-grid id="tablaCliente"></jtse-grid>
                </div>
            </div>
        </div>
    </div>
</jtse-modal>
<jtse-modal id="mdl_MC_ProductoNuevoEditar">
    <div class="form-horizontal panel-body">
        <div class="col-sm-24">
            <div class="row">
                <div class="col-sm-24">
                    <jtse-grid id="tablaProducto"></jtse-grid>
                </div>
            </div>
        </div>
    </div>
</jtse-modal>