﻿<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" charset="utf-8" />
	<title>SIGERP</title>
	<link href="~/App/Support/jtseStyles.min.css?v=@ViewBag.VersionApp" rel="stylesheet" />
	@*<link rel="shortcut icon" type="image/x-icon" href="~/Images/favicon.ico" />*@
</head>
<body id="divDashboard" class="fixed-header dashboard menu-behind windows desktop pace-done pace-done menu-unpinned menu-pin">
	<!--[if lt IE 8]>
		<p>Esta usando un navegador antiguo. Por favor actualizar su navegador para mejor su experiencia</p>
	<![endif]-->
	<view-root key="Login"></view-root>
	<script id="_jsLoad" charset="utf-8">
        var _ = "@Html.Raw(ViewBag.Script)";
	</script>
	<div id="tip" class="Tip" style="display:none"></div>
	<input type="hidden" id="ur" value="@Url.Content("~")" />
	<script charset="utf-8" src="~/App/Support/jtseScripts.min.js?v=@ViewBag.VersionApp"></script>
	<script type="text/javascript" charset="utf-8" src="~/Complementos/LibNVD3/d3.js"></script>
	<script type="text/javascript" charset="utf-8" src="~/Complementos/LibNVD3/nv.d3.js"></script>
</body>
</html>
