﻿.kt-badge {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	-webkit-box-pack: center;
	width: 50px;
	border-radius: 1rem;
}

.red {
	color: red;
}

.estadoactivo {
	background: rgb(59, 171, 39) !important;
	color: #ffffff !important;
}

.estadoaprobado {
	background: #fd397a !important;
	color: #ffffff !important;
}

.estadoinactivo {
	background: #e01b21 !important;
	color: #ffffff !important;
}

.bg-warning {
	background-color: #ffc107 !important;
}

.bg-warning {
	background-color: #f7cf5f !important;
}

.text-black {
	color: #2c2c2c !important;
}

.text-white {
	color: #fff !important;
}

.b-grey {
	border-color: #e1e1e1;
}

.bg-white {
	background-color: #fff !important;
}

.text-danger {
	color: #f35958 !important;
}

.text-success {
	color: #1dbb99 !important;
}

.bg-master-light {
	background-color: #e1e1e1;
}

.bg-master-lightest {
	background-color: #f0f0f0;
}
.bg-success {
	background-color: #1dbb99 !important;
}
/*.text-master {
	color: var(--main-header-text-c) !important;
}*/