﻿@media (max-width: 1400px) {
	body, p {
		font-size: 13px;
		line-height: 20px;
	}
}

@media (max-width: 480px) {
	body {
		width: 100%;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.md-m-b-10 {
		margin-bottom: 10px;
	}
}