﻿/*CHAT*/
.quickview-wrapper {
	position: fixed;
	right: -285px;
	top: 0px;
	width: 285px;
	background: #fff;
	bottom: 14px;
	z-index: 2000;
	box-shadow: 0 0 9px rgba(191,191,191,.36);
	border-left: 1px solid rgba(222,227,231,.56);
	-webkit-transition: -webkit-transform 400ms cubic-bezier(.05,.74,.27,.99);
	transition: transform 400ms cubic-bezier(.05,.74,.27,.99);
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

	.quickview-wrapper.open {
		-webkit-transform: translate3d(-100%,0,0);
		transform: translate3d(-100%,0,0);
		-ms-transform: translate(-100%,0);
	}

.btn-group-toggle > .btn, .btn-group-toggle > .btn-group > .btn, .custom-control-label, .custom-file, .dropdown-header, .input-group-text, .nav {
	margin-bottom: 0;
}

.nav, .navbar {
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
}

.nav-tabs {
	border-bottom: 1px solid #dee2e6;
}

.nav-tabs {
	position: relative;
}

.quickview-wrapper .nav-tabs {
	background-color: #323237;
	position: relative;
	padding: 0 43px;
}

.nav-tabs > li {
	padding-left: 0;
	padding-right: 0;
}

.nav > li > a {
	padding: 10px 15px;
}

.nav-tabs > li > a {
	display: block;
	border-radius: 0;
	padding: 13px 20px;
	margin-right: 0;
	font-family: montserrat;
	font-weight: 500;
	letter-spacing: .06em;
	color: rgba(87,87,87,.7);
	font-size: 10.5px;
	min-width: 70px;
	text-transform: uppercase;
	border-color: transparent;
	position: relative;
	line-height: 1.7em;
}

.quickview-wrapper .nav-tabs > li > a {
	padding: 11px;
	color: #85858e;
	border: 0;
	text-align: center;
	font-size: 11px;
	font-weight: 700;
	min-width: 62px;
	line-height: 1.4;
}

.quickview-wrapper .quickview-toggle {
	position: absolute;
	right: 12px;
	top: 2px;
	color: #85858e;
	padding: 6px;
	opacity: .4;
	background: #323237;
	border: #323237;
}

.nav-tabs ~ .tab-content {
	overflow: hidden;
	padding: 15px;
}

.quickview-wrapper .nav-tabs ~ .tab-content {
	position: absolute;
	padding: 0;
	left: 0;
	right: 0;
	top: 38px;
	bottom: 0;
	height: auto;
}

.no-padding {
	padding: 0 !important;
}

.tab-content > .tab-pane {
	display: none;
}

.quickview-wrapper .nav-tabs ~ .tab-content > div {
	height: 100%;
}

.view-port {
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	white-space: nowrap;
	word-spacing: 0;
	font-size: 0;
	overflow: hidden;
}

.bg-white {
	background-color: #fff !important;
}

.view-port > * {
	font-size: initial;
}

.view-port .view {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	height: 100%;
	vertical-align: top;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

	.view-port .view:first-child:before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0;
		-webkit-transition: opacity .2s linear;
		transition: opacity .2s linear;
		z-index: -1;
	}

.nav-link, .navbar {
	padding: .5rem 1rem;
}

.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.navbar {
	min-height: 50px;
	position: relative;
	margin-bottom: 20px;
	border: 1px solid transparent;
	top: -1px;
}

.navbar-default {
	background-color: #fff;
}

.view-port .navbar {
	border-radius: 0;
	padding-left: 0;
	margin-bottom: 0;
	border-left: 0;
	display: table;
	width: 100%;
	top: 0;
	border-top: 0;
	padding: 0;
	border-bottom: 1px solid #e7e7e7;
}

	.view-port .navbar .navbar-inner {
		display: table-cell;
		height: 50px;
		vertical-align: middle;
	}

.p-l-10 {
	padding-left: 10px !important;
}

.inline {
	display: inline-block !important;
}

.view-port .navbar .action {
	position: absolute;
	top: 0;
	line-height: 50px;
	z-index: 1;
	font-size: 11px;
}

.view-port .navbar .view-heading {
	font-size: 15px;
	text-align: center;
}

.fs-11 {
	font-size: 10.5px !important;
}

.pull-right {
	float: right;
}

.pull-right {
	float: right !important;
}

.p-r-10 {
	padding-right: 10px !important;
}

.view-port .navbar .action.pull-right {
	right: 0;
}

.list-view-group-header, .list-view-fake-header {
	background: #f0f0f0;
	color: #232830;
	font: normal 11px/14px 'Montserrat',Arial;
	text-transform: uppercase;
	margin: 0;
	padding: 6px 0 5px 15px;
	position: absolute;
	z-index: 10;
}

.list-view-fake-header {
	width: 100%;
	z-index: 100;
	font-size: 11px !important;
	line-height: 14px !important;
}

.windows h1, .windows h2, .windows h3, .windows h4, .windows h5 {
	letter-spacing: normal;
}

.no-top-border .list-view-fake-header {
	border-top: 0;
}

.scroll-wrapper {
	overflow: hidden !important;
	padding: 0 !important;
	position: relative;
}

.list-view-wrapper {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	width: 100%;
	-webkit-overflow-scrolling: touch;
}

.scroll-wrapper > .scroll-content {
	border: none !important;
	box-sizing: content-box !important;
	height: auto;
	left: 0;
	margin: 0;
	max-height: none;
	max-width: none !important;
	overflow: scroll !important;
	padding: 0;
	position: relative !important;
	top: 0;
	width: auto !important;
}

.scroll-wrapper > .scroll-content {
	box-sizing: inherit !important;
}

.list-view-group-container {
	margin: 0;
	min-height: 1px;
	overflow: hidden;
	padding: 26px 0 0;
	position: relative;
}

.text-uppercase {
	text-transform: uppercase !important;
}

.list-view-group-header {
	bottom: auto;
	min-height: 1px;
	top: 0;
	width: 100%;
	border-top: 0;
}

.list-view-group-container.list-view-animated .list-view-group-header {
	bottom: 0;
	top: auto;
}

.list-view ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid rgba(0,0,0,.07);
}

.quickview-wrapper .nav-tabs ~ .tab-content ul {
	margin: 0;
	padding: 0;
}

.list-view li {
	padding-left: 15px;
	white-space: nowrap;
	cursor: pointer;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.quickview-wrapper .nav-tabs ~ .tab-content ul li {
	list-style: none;
}

.list-view li > * {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal !important;
	-webkit-box-direction: normal !important;
	-webkit-flex-direction: row !important;
	-ms-flex-direction: row !important;
	flex-direction: row !important;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.chat-user-list > a {
	height: 60px;
}

.list-view li > a {
	margin-right: 15px;
	width: 100%;
}

.list-view.boreded li > a {
	border-bottom: 1px solid rgba(0,0,0,.07);
}

.list-view.boreded li:last-child > a {
	border-bottom: 0;
}

.clearfix::after {
	display: block;
	clear: both;
	content: "";
}

.bg-success {
	background-color: #28a745 !important;
}

.bg-success {
	background-color: #1dbb99 !important;
}

.thumbnail-wrapper {
	display: inline-block;
	overflow: hidden;
	float: left;
}

	.thumbnail-wrapper.circular {
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	}

	.thumbnail-wrapper.d32 {
		width: 32px;
		height: 32px;
	}

img {
	vertical-align: middle;
	border-style: none;
}

.thumbnail-wrapper > * {
	vertical-align: middle;
	width: 100%;
	height: 100%;
	text-align: center;
}

.col-top {
	vertical-align: top !important;
}

.thumbnail-wrapper.d32 > * {
	line-height: 32px;
}

.pfo {
	display: block;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: .01em;
	line-height: 22px;
	margin: 0 0 10px;
	font-style: normal;
	white-space: normal;
}

.windows body, .windows pfo {
	font-size: 13px;
	letter-spacing: normal;
}

.list-view li pfo {
	margin: 0;
	line-height: 19px;
}

.hint-text {
	opacity: .7;
}

.fs-12 {
	font-size: 12px !important;
}

.block {
	display: block !important;
}

.scroll-element {
	display: none;
}

	.scroll-element, .scroll-element div {
		box-sizing: content-box;
	}

.scroll-wrapper > .scroll-element, .scroll-wrapper > .scroll-element div {
	background: 0 0;
	border: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 10;
}

	.scroll-wrapper > .scroll-element.scroll-x {
		bottom: 2px;
		height: 7px;
		left: 0;
		min-width: 100%;
		width: 100%;
	}

	.scroll-wrapper > .scroll-element div {
		display: block;
		height: 100%;
		left: 0;
		top: 0;
		width: 100%;
	}
/*Chat de usuarios*/
.view-port > * {
	font-size: initial;
}

.view-port .view {
	display: inline-flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	vertical-align: top;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	transition: all .4s ease;
}

.view-port.push-parrallax > .view:last-child {
	transition: all .4s cubic-bezier(.1,.7,.1,1);
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	-ms-transform: translate(-100%,0);
	box-shadow: 0 0 9px rgba(191,191,191,.36);
}

.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.navbar-default {
	background-color: #fff;
}

.view-port .navbar {
	border-radius: 0;
	margin-bottom: 0;
	border-left: 0;
	display: table;
	width: 100%;
	top: 0;
	border-top: 0;
	padding: 0;
	border-bottom: 1px solid #e7e7e7;
}

.link {
	opacity: .7;
}

.ps {
	overflow: hidden !important;
	overflow-anchor: none;
	-ms-overflow-style: none;
	touch-action: auto;
	-ms-touch-action: auto;
	position: relative;
}

.chat-view .chat-inner {
	padding: 15px;
	overflow-x: hidden;
	height: calc(100% - 103px);
}

.chat-view .message {
	margin-bottom: 10px;
	line-height: 30px;
}

.chat-view .chat-bubble {
	position: relative;
	border-radius: 12px;
	padding: 4px 12px;
	font-size: 14px;
	line-height: 16px;
	margin: 5px 0 0 5px;
	max-width: 60%;
	white-space: normal;
}

	.chat-view .chat-bubble.from-me {
		background: #d7effb;
		color: #2c2c2c;
		opacity: .8;
		float: right;
		border: 1px solid rgba(0,0,0,.07);
	}

.m-t-5 {
	margin-top: 5px;
}

.profile-img-wrapper {
	float: left;
	border-radius: 100px;
	display: inline-block;
	height: 35px;
	overflow: hidden;
	width: 35px;
	-moz-flex: 1;
	flex: 1;
}

.chat-view .chat-bubble.from-them {
	color: #2c2c2c;
	opacity: .8;
	background: #e7e7e7;
	position: relative;
	opacity: .8;
	float: left;
	border: 1px solid #eff5f7;
}

.ps__rail-x {
	display: none;
	opacity: 0;
	transition: background-color .2s linear,opacity .2s linear;
	-webkit-transition: background-color .2s linear,opacity .2s linear;
	height: 15px;
	bottom: 0;
	position: absolute;
	z-index: 750;
}

.ps__thumb-x {
	background-color: #697686;
	border-radius: 6px;
	transition: background-color .2s linear,height .2s ease-in-out;
	-webkit-transition: background-color .2s linear,height .2s ease-in-out;
	height: 4px;
	bottom: 2px;
	position: absolute;
	opacity: .7;
}

.ps__rail-y {
	display: none;
	opacity: 0;
	transition: background-color .2s linear,opacity .2s linear;
	-webkit-transition: background-color .2s linear,opacity .2s linear;
	width: 15px;
	right: 0;
	left: auto !important;
	position: absolute;
	z-index: 750;
}

.ps__thumb-y {
	background-color: #697686;
	transition: background-color .2s linear,width .2s ease-in-out;
	-webkit-transition: background-color .2s linear,width .2s ease-in-out;
	width: 4px;
	right: 2px;
	position: absolute;
	opacity: .7;
}

.b-a, .b-b, .b-l, .b-r, .b-t {
	border-style: solid;
	border-width: 0;
}

.b-a, .b-r, .b-l, .b-t, .b-b {
	border-style: solid;
	border-width: 0;
}

.b-t {
	border-top-width: 1px;
}

.b-grey {
	border-color: #e1e1e1;
}

.rowsend {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.chat-view .chat-input {
	border: 0;
	height: 45px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
	box-shadow: inset 0 1px 1px rgba(238, 238, 238, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

.m-l-10 {
	margin-left: 10px;
}

.m-t-15 {
	margin-top: 15px;
}

.b-l {
	border-left-width: 1px;
}
