﻿<div class="page-sub-content">
    <div class="jumbotron">
        <div class="container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
            <div class="col-lg-24">
                <div class="row">
                    <div class="col-md-18">
                        <div class="inner">
                            <ol class="breadcrumb">
                                <li id="idHome" class="breadcrumb-item"><a href="javascript:void(0)"><i class="fa fa-home"></i>Home</a></li>
                                <li class="breadcrumb-item active">Cliente</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid container-fixed-lg form-horizontal">
        <div class="col-lg-24">
            <div class="row">
                <div class="card card-default">
                    <div class="card-body">
                        <div class="col-sm-24">
                            <div class="form-group">
                                <jtse-grid id="grd_MC_Cliente"></jtse-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<jtse-modal id="mdl_MC_ClienteNuevoEditar">
    <div class="form-horizontal panel-body" data-container="frmCabeceraCliente">
        <div class="col-sm-24">
            <div class="form-group">
                <label class="control-label col-sm-4">
                    <span>Nombre:</span><span class="red">&nbsp;*</span>
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control js-frmCl" id="Nombre"/>
                </div>
                <label class="control-label col-sm-4">
                    <span>Dirección:</span><span class="red">&nbsp;*</span>
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control js-frmCl" id="Direccion"/>
                </div>
            </div>
        </div>
        <div class="col-sm-24">
            <div class="form-group">
                <label class="control-label col-sm-4">
                    <span>Correo:</span><span class="red">&nbsp;*</span>
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control js-frmCl" id="Correo" />
                </div>
                <label class="control-label col-sm-4">
                    <span>Telefono:</span><span class="red">&nbsp;*</span>
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control js-frmCl" id="Telefono"/>
                </div>
            </div>
        </div>
    </div>
</jtse-modal>