﻿jtse-grid .grid {
	font-family: sans-serif,"Helvetica Neue", Helvetica, Arial;
	color: #76838f;
	max-width: none !important;
	margin: 0;
	clear: both;
	border: 1px solid #e4eaec;
	font-size: 11px;
}

.grid td, .grid th {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 0;
	border: 1px solid #e4eaec;
}

.grid th {
	text-align: left;
}

.grid > thead > tr > th,
.grid > thead > tr > td,
.grid > tbody > tr > th,
.grid > tbody > tr > td,
.grid > tfoot > tr > th,
.grid > tfoot > tr > td {
	padding: 3px;
	line-height: 1.57142857;
	vertical-align: middle;
	border-left: 1px solid #e4eaec;
	border-right: 1px solid #e4eaec;
	border-bottom: 1px solid #e4eaec;
}

.grid > thead > tr > th {
	padding-right: 8px;
	padding-left: 8px;
	vertical-align: bottom;
	border-bottom: 1px solid #e4eaec;
}

.grid > tfoot > tr > th, .grid > thead > tr > th {
	font-weight: bold;
	color: #526069;
}

.btn-grid-download {
	color: #000000;
	font-size: 14px !important;
}

.grid thead .sorting,
.grid thead .sorting_asc,
.grid thead .sorting_asc_disabled,
.grid thead .sorting_desc,
.grid thead .sorting_desc_disabled {
	position: relative;
	padding-right: 16px;
	cursor: pointer;
}

.grid th:active {
	outline: 0;
}

.grid > caption + thead > tr:first-child > td,
.grid > caption + thead > tr:first-child > th,
.grid > colgroup + thead > tr:first-child > td,
.grid > colgroup + thead > tr:first-child > th,
.grid > thead:first-child > tr:first-child > td,
.grid > thead:first-child > tr:first-child > th {
	border-top: 0;
	vertical-align: middle;
}

.grid > tbody > tr:hover, .grid > tbody > tr:nth-of-type(odd):hover {
	/*background-color: rgba(0, 168, 80, 0.2);*/
	background-color: rgba(83, 87, 88, 0.2);
}

.grid > tbody > tr:nth-of-type(odd) {
	background-color: #F6F6F8;
}

.grid thead .sorting_asc:after {
	content: "\f0de";
}

.grid thead .sorting_desc:after {
	content: "\f0dd";
}

/*.grid thead .sorting:after {
	content: "\f0dc";
}*/

.grid thead .sorting:after,
.grid thead .sorting_asc:after,
.grid thead .sorting_desc:after {
	position: absolute;
	top: 4px;
	right: 4px;
	display: block;
	font-family: "FontAwesome";
	opacity: .5;
}

jtse-grid .table-layout {
	table-layout: fixed;
}

jtse-grid .word-break {
	overflow: hidden;
	word-break: break-all;
}

jtse-grid .word-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}

jtse-grid .grid-bottom {
	margin-bottom: 6px;
}

jtse-grid .grid-title {
	color: #37474f;
	font-weight: bold;
}

jtse-grid .pagination-pages {
	display: inline-block;
	padding: 10px 0px;
}

.pagination-button {
	border: 1px solid #f7f2f2;
	/*border: 1px solid #ccc;*/
	padding: 6px 12px;
	/*padding: 6px 10px;*/
	cursor: pointer;
}

	.pagination-button:hover {
		background-color: lightgray;
		/*color: #62a8ea;*/
		color: #000000;
	}

	.pagination-button.active {
		color: white;
		/*background-color: #62a8ea;*/
		background-color: #3770a7;
	}

.grid .search-ico {
}

.btn-grid-new, .btn-grid-edit, .btn-grid-delete-multiple, .btn-grid-refresh, .btn-grid-export-excel, .btn-grid-export-text, .btn-grid-lightblue {
	color: #fff;
	outline-color: transparent !important;
}

.btn-grid-green {
	background-color: #26923b;
}

.btn-grid-lightblue {
	background-color: #6ac6d2;
}

.btn-grid-new {
	/*background-color: #62a8ea;*/
	background-color: #3770a7;
}

.btn-grid-delete-multiple {
	background-color: #f04349;
}

.btn-grid-refresh {
	background-color: #28a745;
}

.btn-grid-export-excel {
	background-color: #019272;
}

.btn-grid-export-text {
	background-color: gray;
}

.btn-grid-edit {
	color: #62a8ea;
	/*color: #3770a7;*/
}

.btn-grid-delete {
	color: #fc1921;
}

/*GRID SCROLL*/

.grid .grid-scroll td, .grid .grid-scroll th {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.grid .grid-scroll-body th {
	padding-top: 0px;
	padding-bottom: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	height: 0px;
}

.grid-scroll-header {
	overflow: hidden;
	position: relative;
	border: 0px;
	width: 100%;
}

.grid-scroll-body {
	position: relative;
	overflow: auto;
	max-height: 200px;
	width: 100%;
}

.grid {
	border-collapse: collapse;
}

	.grid .grid-scroll td, .grid .grid-scroll th {
		padding: .4rem;
		/*word-break: break-all;
		white-space: normal;*/
	}

.grid-scrollbar {
	position: relative;
	height: 200px;
	overflow: auto;
	width: 100%;
}

.grid-fn-ex-icon {
	padding: 4px 10px;
	color: #ffffff;
	font-size: 12px;
	background-color: #3770a7;
	border-radius: 4px;
}