﻿.jtse-loading {
	z-index: 2000;
	width: 100%;
	height: 100%;
	background-color: whitesmoke;
	opacity: 0.8;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 9999;
	margin: 0;
	padding: 0;
	transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
}

	.jtse-loading .circle {
		width: 26px;
		height: 26px;
		border: 3px inset rgb(133,224,242);
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -13px;
		margin-top: -13px;
		border-radius: 200px;
		-moz-animation: rotate 5s infinitelinear;
		-webkit-animation: rotate 5s infinite linear;
		animation: rotate 5s infinite linear;
		box-shadow: 0 0 5px rgba(0,0,0,0.2);
	}

	.jtse-loading .circle-small {
		width: 35px;
		height: 35px;
		border: 3px outset rgb(133,224,242);
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -17.5px;
		margin-top: -17.5px;
		border-radius: 156px;
		-moz-animation: rotate-rev 3s infinite linear;
		-webkit-animation: rotate-rev 3s infinite linear;
		animation: rotate-rev 3s infinite linear;
		box-shadow: 0 0 5px rgba(0,0,0,0.2);
	}

	.jtse-loading .circle-big {
		width: 45px;
		height: 45px;
		border: 2px dotted rgb(133,224,242);
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -22.5px;
		margin-top: -22.5px;
		border-radius: 214px;
		-moz-animation: rotate-rev 10s infinite linear;
		-webkit-animation: rotate-rev 10s infinite linear;
		animation: rotate-rev 10s infinite linear;
	}

	.jtse-loading .circle-inner {
		width: 16px;
		height: 16px;
		background-color: rgb(74,124,134);
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -8px;
		margin-top: -8px;
		border-radius: 100px;
		-moz-animation: pulse 1.5s infinite ease-in;
		-webkit-animation: pulse 1.5s infinite ease-in;
		animation: pulse 1.5s infinite ease-in;
		box-shadow: 0 0 5px rgba(0,0,0,0.2);
	}

	.jtse-loading .circle-inner-inner {
		width: 6px;
		height: 6px;
		background-color: rgb(133,224,242);
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -3px;
		margin-top: -3px;
		border-radius: 80px;
		-moz-animation: pulse 1.5s infinite ease-in;
		-webkit-animation: pulse 1.5s infinite ease-in;
		animation: pulse 1.5s infinite ease-in;
		opacity: 1;
		box-shadow: 0 0 5px rgba(0,0,0,0.2);
	}

	.jtse-loading .loading-text {
		position: relative;
		top: 54%;
		color: rgb(74,124,134);
		font-size: 1.6em;
		margin: auto;
		text-align: center;
	}

@-moz-keyframes rotate {
	0% {
		-moz-transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(360deg);
	}
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@-moz-keyframes rotate-rev {
	0% {
		-moz-transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(-360deg);
	}
}

@-webkit-keyframes rotate-rev {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(-360deg);
	}
}

@keyframes rotate-rev {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}

@-moz-keyframes pulse {
	0% {
		-moz-transform: scale(0.1);
		opacity: 0.2;
	}

	50% {
		-moz-transform: scale(1);
		opacity: 0.8;
	}

	100% {
		-moz-transform: scale(0.1);
		opacity: 0.2;
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.1);
		opacity: 0.2;
	}

	50% {
		-webkit-transform: scale(1);
		opacity: 0.8;
	}

	100% {
		-webkit-transform: scale(0.1);
		opacity: 0.2;
	}
}

@keyframes pulse {
	0% {
		transform: scale(0.1);
		opacity: 0.2;
	}

	50% {
		transform: scale(1);
		opacity: 0.8;
	}

	100% {
		transform: scale(0.1);
		opacity: 0.2;
	}
}
