﻿<div class="page-content">
	<div class="container-fluid padding-25 sm-padding-10">
		<div class="sm-gutter row">
			<div class="col-lg-8 col-xl-6 col-xlg-4">
				<div class="sm-gutter row">
					<div class="col-md-24 m-b-10">
						<div class="widget-8 card no-border bg-warning no-margin widget-loader-bar">
							<div class="container-xs-height full-height">
								<div class="row-xs-height">
									<div class="col-xs-height col-top">
										<div class="card-header  top-left top-right">
											<div class="card-title text-black hint-text">
												<span class="font-montserrat fs-11 all-caps">
													VENTA SEMANALES <i class="fa fa-chevron-right"></i>
												</span>
											</div>
											<div class="card-controls">
												<ul>
													<li>
														<a data-toggle="refresh" class="card-refresh text-black" href="#"><i class="card-icon fa fa-refresh"></i></a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="row-xs-height ">
									<div class="col-xs-height col-top relative">
										<div class="sm-gutter row">
											<div class="col-sm-12">
												<div class="p-l-20">
													<h3 class="no-margin p-b-5 text-white">S/14,000</h3>
													<p class="small hint-text m-t-5">
														<span class="label  font-montserrat m-r-5">60%</span>Higher
													</p>
												</div>
											</div>
											<div class="col-sm-12">
											</div>
										</div>
										<div class="widget-8-chart line-chart" data-line-color="black" data-points="true" data-point-color="warning" data-stroke-width="2">
											<svg></svg>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row sm-gutter">
					<div class="col-lg-24 m-b-10">
						<div class="widget-9 card no-border bg-success no-margin widget-loader-bar">
							<div class="full-height d-flex flex-column">
								<div class="card-header ">
									<div class="card-title text-black">
										<span class="font-montserrat fs-11 all-caps">
											VENTA SEMANALES <i class="fa fa-chevron-right"></i>
										</span>
									</div>
									<div class="card-controls">
										<ul>
											<li>
												<a href="#" class="card-refresh text-black" data-toggle="refresh"><i class="card-icon fa fa-refresh"></i></a>
											</li>
										</ul>
									</div>
								</div>
								<div class="p-l-20">
									<h3 class="no-margin p-b-5 text-white">S/23,000</h3>
									<a href="#" class="btn-circle-arrow text-white">
										<i class="fa fa-angle-down"></i>
									</a>
									<span class="small hint-text text-white">65% más bajo que el mes pasado</span>
								</div>
								<div class="mt-auto">
									<div class="progress progress-small m-b-20">
										<div class="progress-bar progress-bar-white" style="width:45%"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row sm-gutter">
					<div class="col-lg-24 md-m-b-10 sm-m-b-10">
						<div class="widget-10 card no-border bg-white no-margin widget-loader-bar">
							<div class="card-header  top-left top-right ">
								<div class="card-title text-black hint-text">
									<span class="font-montserrat fs-11 all-caps">
										VENTA SEMANALES  <i class="fa fa-chevron-right"></i>
									</span>
								</div>
								<div class="card-controls">
									<ul>
										<li>
											<a data-toggle="refresh" class="card-refresh text-black" href="#"><i class="card-icon fa fa-refresh"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="card-body p-t-40">
								<div class="row sm-gutter">
									<div class="col-sm-24">
										<h4 class="no-margin p-b-5 text-danger semi-bold">APPL 2.032</h4>
										<div class="pull-left small">
											<span>WMHC</span>
											<span class=" text-success font-montserrat">
												<i class="fa fa-caret-up m-l-10"></i> 9%
											</span>
										</div>
										<div class="pull-left m-l-20 small">
											<span>HCRS</span>
											<span class=" text-danger font-montserrat">
												<i class="fa fa-caret-up m-l-10"></i> 21%
											</span>
										</div>
										<div class="clearfix-layout"></div>
									</div>
								</div>
								<div class="p-t-10 full-width">
									<a href="#" class="btn-circle-arrow b-grey"><i class="fa fa-angle-down text-danger"></i></a>
									<span class="hint-text small">Show more</span>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-lg-16 col-xl-18 col-xlg-12 m-b-10">
				<div class="row sm-gutter">
					<div class="col-md-24">
						<div class="widget-12 card no-border widget-loader-circle no-margin">
							<div class="row sm-gutter">
								<div class="col-lg-16 ">
									<div class="card-header  pull-up top-right ">
										<div class="card-controls">
											<ul>
												<li class="hidden-xlg">
													<div class="dropdown">
														<a data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
															<i class="card-icon card-icon-settings"></i>
														</a>
														<ul class="dropdown-menu pull-right" role="menu">
															<li>
																<a href="#">AAPL</a>
															</li>
															<li>
																<a href="#">YHOO</a>
															</li>
															<li>
																<a href="#">GOOG</a>
															</li>
														</ul>
													</div>
												</li>
												<li>
													<a data-toggle="refresh" class="card-refresh text-black" href="#"><i class="card-icon fa fa-refresh"></i></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="row sm-gutter">
									<div class="col-sm-16">
										<div class="p-l-5">
											<h2 class="pull-left m-t-5 m-b-5">Facturación Electronica</h2>
											<h2 class="pull-left m-l-50 m-t-5 m-b-5 text-danger">
												<span class="">448.97</span>
												<span class="text-danger fs-12">-318.24</span>
											</h2>
											<div class="clearfix-layout"></div>
											<div class="full-width">
												<ul class="list-inline">
													<li>
														<a href="#" class="font-montserrat text-master">1D</a>
													</li>
													<li class="active">
														<a href="#" class="font-montserrat  bg-master-light text-master">1S</a>
													</li>
													<li>
														<a href="#" class="font-montserrat text-master">1M</a>
													</li>
													<li>
														<a href="#" class="font-montserrat text-master">1Y</a>
													</li>
												</ul>
											</div>
											<div class="nvd3-line line-chart text-center">
												<svg></svg>
											</div>
										</div>
									</div>
									<div class="col-sm-8">
										<div class="widget-12-search">
											<p class="pull-left">
												Company
												<span class="bold">List</span>
											</p>
											<button class="btn btn-default btn-xs pull-right">
												<span class="bold">+</span>
											</button>
											<div class="clearfix-layout"></div>
											<input type="text" placeholder="Search list" class="form-control m-t-5">
										</div>
										<div class="company-stat-boxes">
											<div data-index="0" class="company-stat-box m-t-15 active padding-20 bg-master-lightest">
												<div>
													<button type="button" class="close" data-dismiss="modal">
													</button>
													<p class="company-name pull-left text-uppercase bold no-margin">
														<span class="fa fa-circle text-success fs-11"></span> Facturas
													</p>
													<small class="hint-text m-l-10">Total</small>
													<div class="clearfix-layout"></div>
												</div>
												<div class="m-t-10">
													<p class="pull-left small hint-text no-margin p-t-5">9:42AM ET</p>
													<div class="pull-right">
														<p class="small hint-text no-margin inline">1286 und.</p>
														<span class=" label label-important p-t-5 m-l-5 p-b-5 inline fs-12">+ 0.09</span>
													</div>
													<div class="clearfix-layout"></div>
												</div>
											</div>
											<div data-index="1" class="company-stat-box m-t-15  padding-20 bg-master-lightest">
												<div>
													<button type="button" class="close" data-dismiss="modal">
														<!--<i class="pg-close fs-12"></i>-->
													</button>
													<p class="company-name pull-left text-uppercase bold no-margin">
														<span class="fa fa-circle text-primary fs-11"></span> Boletas
													</p>
													<small class="hint-text m-l-10">Total</small>
													<div class="clearfix-layout"></div>
												</div>
												<div class="m-t-10">
													<p class="pull-left small hint-text no-margin p-t-5">9:42AM ET</p>
													<div class="pull-right">
														<p class="small hint-text no-margin inline">845 und.</p>
														<span class=" label label-success p-t-5 m-l-5 p-b-5 inline fs-12">+ 0.09</span>
													</div>
													<div class="clearfix-layout"></div>
												</div>
											</div>
											<div data-index="2" class="company-stat-box m-t-15  padding-20 bg-master-lightest">
												<div>
													<button type="button" class="close" data-dismiss="modal">
													</button>
													<p class="company-name pull-left text-uppercase bold no-margin">
														<span class="fa fa-circle text-complete fs-11"></span> Notas Credito
													</p>
													<small class="hint-text m-l-10">Total</small>
													<div class="clearfix-layout"></div>
												</div>
												<div class="m-t-10">
													<p class="pull-left small hint-text no-margin p-t-5">9:42AM ET</p>
													<div class="pull-right">
														<p class="small hint-text no-margin inline">422 und.</p>
														<span class=" label label-success p-t-5 m-l-5 p-b-5 inline fs-12">+ 0.09</span>
													</div>
													<div class="clearfix-layout"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-lg-12 hidden-lg col-xlg-8 m-b-10 m-lay">
				<div class="widget-15 card card-condensed  no-margin no-border widget-loader-circle">
					<div class="card-header ">
						<div class="card-controls">
							<ul>
								<li>
									<a href="#" class="card-collapse" data-toggle="collapse"><i class="fa fa-angle-up"></i></a>
								</li>
								<li>
									<a href="#" class="card-refresh text-black" data-toggle="refresh"><i class="card-icon fa fa-refresh"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="card-body no-padding">
						<ul class="nav nav-tabs nav-tabs-simple">
							<li class="nav-item">
								<a href="#" data-toggle="tab" class="p-t-5 active">
									Factura<br>
									22.23<br>
									<span class="text-success">+60.223%</span>
								</a>
							</li>
							<li class="nav-item">
								<a href="#" data-toggle="tab" class="p-t-5">
									Boleta<br>s
									45.97<br>
									<span class="text-danger">-06.56%</span>
								</a>
							</li>
							<li class="nav-item">
								<a href="#" data-toggle="tab" class="p-t-5">
									Nota Credito<br>
									22.23<br>
									<span class="text-success">+60.223%</span>
								</a>
							</li>
						</ul>
						<div class="tab-content p-l-20 p-r-20">
							<div class="tab-pane no-padding active" id="widget-15-tab-1">
								<div class="full-width">
									<div class="full-width">
										<div class="widget-15-chart rickshaw-chart rickshaw_graph"><svg width="570.984" height="200"><rect x="0" y="134.39642213014645" width="13.560870000000001" height="65.60357786985355" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="14.274600000000001" y="132.679164399034" width="13.560870000000001" height="67.32083560096602" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="28.549200000000003" y="131.07014585268058" width="13.560870000000001" height="68.92985414731943" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="42.8238" y="140.24711397035793" width="13.560870000000001" height="59.752886029642085" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="57.098400000000005" y="140.04778565995497" width="13.560870000000001" height="59.95221434004503" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="71.373" y="138.69112385558591" width="13.560870000000001" height="61.30887614441408" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="85.6476" y="134.51277006771198" width="13.560870000000001" height="65.48722993228803" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="99.92220000000002" y="137.91619317338132" width="13.560870000000001" height="62.08380682661869" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="114.19680000000001" y="139.26363513423306" width="13.560870000000001" height="60.736364865766944" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="128.47140000000002" y="130.52428149851593" width="13.560870000000001" height="69.47571850148407" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="142.746" y="135.58080788249268" width="13.560870000000001" height="64.41919211750732" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="157.02060000000003" y="142.8896430766923" width="13.560870000000001" height="57.110356923307705" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="171.2952" y="141.93867554377886" width="13.560870000000001" height="58.06132445622115" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="185.56980000000001" y="139.43920969215554" width="13.560870000000001" height="60.56079030784445" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="199.84440000000004" y="131.96252988969246" width="13.560870000000001" height="68.03747011030752" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="214.11900000000003" y="137.8620135377755" width="13.560870000000001" height="62.13798646222449" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="228.39360000000002" y="134.51479284112608" width="13.560870000000001" height="65.48520715887392" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="242.6682" y="141.99664655631335" width="13.560870000000001" height="58.003353443686635" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="256.94280000000003" y="138.38709543185055" width="13.560870000000001" height="61.61290456814945" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="271.21740000000005" y="139.15523901802774" width="13.560870000000001" height="60.84476098197226" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="285.492" y="134.40273559390423" width="13.560870000000001" height="65.59726440609577" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="299.76660000000004" y="146.91989899409748" width="13.560870000000001" height="53.080101005902534" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="314.04120000000006" y="146.050840939109" width="13.560870000000001" height="53.949159060890985" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="328.3158000000001" y="141.36763476986073" width="13.560870000000001" height="58.632365230139285" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="342.5904" y="144.22438289289536" width="13.560870000000001" height="55.77561710710464" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="356.865" y="148.26454854767667" width="13.560870000000001" height="51.735451452323325" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="371.13960000000003" y="147.56035663475797" width="13.560870000000001" height="52.43964336524202" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="385.41420000000005" y="144.6382606954246" width="13.560870000000001" height="55.361739304575394" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="399.68880000000007" y="138.94258709963722" width="13.560870000000001" height="61.057412900362785" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="413.96340000000004" y="140.34741413412542" width="13.560870000000001" height="59.652585865874585" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="428.23800000000006" y="143.6195473903981" width="13.560870000000001" height="56.380452609601875" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="442.5126" y="136.33595194417893" width="13.560870000000001" height="63.66404805582106" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="456.78720000000004" y="134.36045830189755" width="13.560870000000001" height="65.63954169810245" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="471.06180000000006" y="137.80718120416824" width="13.560870000000001" height="62.19281879583176" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="485.3364" y="135.5360385420716" width="13.560870000000001" height="64.4639614579284" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="499.61100000000005" y="134.9650028752676" width="13.560870000000001" height="65.03499712473241" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="513.8856000000001" y="132.3605436541572" width="13.560870000000001" height="67.6394563458428" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="528.1602" y="142.21130885098364" width="13.560870000000001" height="57.788691149016344" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="542.4348000000001" y="132.98663774694836" width="13.560870000000001" height="67.01336225305164" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="556.7094000000001" y="132.21635181131657" width="13.560870000000001" height="67.78364818868343" transform="matrix(1,0,0,1,0,0)" fill="rgba(95, 192, 237, 1)"></rect><rect x="0" y="71.91561881680258" width="13.560870000000001" height="62.48080331334388" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="14.274600000000001" y="68.54828199126851" width="13.560870000000001" height="64.13088240776547" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="28.549200000000003" y="66.66666666666666" width="13.560870000000001" height="64.40347918601391" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="42.8238" y="80.58865411313892" width="13.560870000000001" height="59.658459857219015" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="57.098400000000005" y="68.18240075902517" width="13.560870000000001" height="71.86538490092978" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="71.373" y="73.09435612796197" width="13.560870000000001" height="65.59676772762394" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="85.6476" y="70.83173994013916" width="13.560870000000001" height="63.68103012757281" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="99.92220000000002" y="68.26731951258319" width="13.560870000000001" height="69.64887366079812" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="114.19680000000001" y="72.47329683315368" width="13.560870000000001" height="66.79033830107937" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="128.47140000000002" y="67.009134468138" width="13.560870000000001" height="63.515147030377925" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="142.746" y="71.70715556407816" width="13.560870000000001" height="63.87365231841451" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="157.02060000000003" y="81.67101770545632" width="13.560870000000001" height="61.218625371235966" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="171.2952" y="74.06015372984602" width="13.560870000000001" height="67.8785218139328" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="185.56980000000001" y="85.05494877697993" width="13.560870000000001" height="54.384260915175645" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="199.84440000000004" y="72.63329696414948" width="13.560870000000001" height="59.32923292554298" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="214.11900000000003" y="79.56181826819164" width="13.560870000000001" height="58.30019526958385" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="228.39360000000002" y="81.9235742387639" width="13.560870000000001" height="52.59121860236217" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="242.6682" y="84.18251458558674" width="13.560870000000001" height="57.814131970726635" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="256.94280000000003" y="77.07910684138508" width="13.560870000000001" height="61.307988590465456" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="271.21740000000005" y="73.16963947575026" width="13.560870000000001" height="65.98559954227746" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="285.492" y="75.67156867406415" width="13.560870000000001" height="58.731166919840085" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="299.76660000000004" y="93.68036015231398" width="13.560870000000001" height="53.239538841783464" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="314.04120000000006" y="88.50482201999357" width="13.560870000000001" height="57.54601891911545" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="328.3158000000001" y="81.7359083143008" width="13.560870000000001" height="59.63172645555991" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="342.5904" y="88.52053968339268" width="13.560870000000001" height="55.703843209502665" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="356.865" y="98.0502956055438" width="13.560870000000001" height="50.21425294213287" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="371.13960000000003" y="89.37170681065669" width="13.560870000000001" height="58.18864982410129" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="385.41420000000005" y="94.6975014383123" width="13.560870000000001" height="49.9407592571123" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="399.68880000000007" y="85.44628499414608" width="13.560870000000001" height="53.49630210549113" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="413.96340000000004" y="80.85800741021238" width="13.560870000000001" height="59.48940672391304" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="428.23800000000006" y="82.75460950892193" width="13.560870000000001" height="60.86493788147621" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="442.5126" y="80.69204133035706" width="13.560870000000001" height="55.643910613821866" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="456.78720000000004" y="68.74677776360198" width="13.560870000000001" height="65.61368053829558" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="471.06180000000006" y="74.23600457483153" width="13.560870000000001" height="63.571176629336726" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="485.3364" y="74.170792294676" width="13.560870000000001" height="61.36524624739559" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="499.61100000000005" y="76.43936414503621" width="13.560870000000001" height="58.52563873023138" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="513.8856000000001" y="79.32186320452885" width="13.560870000000001" height="53.03868044962835" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="528.1602" y="82.70130778310786" width="13.560870000000001" height="59.510001067875784" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="542.4348000000001" y="76.52639385022859" width="13.560870000000001" height="56.460243896719774" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect><rect x="556.7094000000001" y="68.56186770093015" width="13.560870000000001" height="63.65448411038642" transform="matrix(1,0,0,1,0,0)" fill="rgba(231, 231, 231, 1)"></rect></svg><div class="detail" style="left: 36.5496px;"><div class="x_label left">Fri, 24 Jan 2020 23:59:27 GMT</div><div class="item active left" style="top: 68.5204px;"><span class="detail_swatch" style="background-color: rgba(231, 231, 231, 1)"></span>Returning users: 87<br><span class="date">Fri, 24 Jan 2020 23:59:27 GMT</span></div><div class="dot active" style="top: 68.5204px; border-color: rgb(231, 231, 231);"></div></div></div>
									</div>
								</div>
							</div>
							<div class="tab-pane no-padding" id="widget-15-tab-2">
							</div>
							<div class="tab-pane" id="widget-15-tab-3">
							</div>
						</div>
						<div class="p-t-20 p-l-20 p-r-20 p-b-30">
							<div class="row sm-gutter">
								<div class="col-md-18">
									<p class="fs-16 text-black">
										Sistema de facturación electrónica de los emprendedores
									</p>
									<p class="small hint-text p-b-10">
										HardCode
										<br>(Completo y Adaptable a la Actividad de tu Negocio.)
									</p>
								</div>
								<div class="col-md-6 text-right">
									<p class="font-montserrat bold text-success m-r-20 fs-16">+0.94</p>
									<p class="font-montserrat bold text-danger m-r-20 fs-16">-0.63</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
