﻿<style>
	.ctn-principal {
		/*background: linear-gradient(90deg, #c5c5c5, #76838f);*/
		/*background-image: linear-gradient(45deg,#2C5A8D 50%,#F7941B 50%);*/
		background-image: linear-gradient(45deg,#16303c 50%,#e8f0fe 50%);
		height: 100%;
		width: 100%;
		font-size: 16px;
		position: relative;
	}

	.ctn-form {
		width: 300px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: #fff;
		box-shadow: 0 10px 35px -15px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
		border-radius: 6px;
		padding: 20px;
	}

	.user-image-container {
		margin: 0 auto;
		width: 110px;
		height: 110px;
		font-size: 110%;
		border-radius: 100%;
		background-color: rgba(255, 255, 255, 0.5);
	}

	.title {
		color: #fff;
	}

	@media (max-width: 400px) {
		.ctn-form {
			width: 90%;
		}
	}

	.login-header {
		font-size: 18px;
		text-align: center;
		color: #424242;
		margin-bottom: 20px;
		background-color: #16303C;
		margin: 8px;
	}

	.logo {
		/*background-image: url(http://sunqu.igpconsulting.pe/SafetyTolls_Advances/Images/Logo.png);*/
		background-size: cover;
		width: 186px;
		height: 64px;
		display: inline-block;
	}
	.logo .fa{
		font-size: 62px;
		    color: #fff;
	}
</style>
<div class="ctn-principal">
	<div class="ctn-form">
		<div class="login-header">
			<div class="logo"><i class="fa fa-picture-o"></i></div>
		</div>
		<div class="col-24 form-group">
			<input type="text" id="txt_LO_Usuario" class="form-control js-frml" data-vl="Usuario" placeholder="Usuario" autocomplete="off" />
		</div>
		<div class="col-24 form-group">
			<input type="password" id="txt_LO_Contrasena" class="form-control js-frml" data-vl="contraseña" placeholder="contraseña" autocomplete="off" />
		</div>
		<div class="col-24 form-group">
			<input type="button" id="btn_LO_Ingresar" value="Ingresar" class="btn btn-block btn-send" />
		</div>
		<div class="text-center">
			<a style="" href="#"><span style="font-size: 12px">¿Olvidaste tu contraseña?</span></a>
		</div>
		<div class="text-center">
			<a style="" href="#"><span style="font-size: 12px">¿No tienes una cuenta?</span></a>
		</div>
	</div>

</div>

