﻿@import 'https://fonts.googleapis.com/css?family=Montserrat:400,500,600';
/*html {
	font-family: sans-serif,"Helvetica Neue", Helvetica, Arial;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}*/
html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}

html {
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

/*body {
	margin: 0;
	font-family: sans-serif,"Helvetica Neue", Helvetica, Arial;
	font-size: 12px;
	line-height: 1.42857143;
	color: #76838f;
	background-color: #f1f4f5;
	overflow-y: auto !important;
}*/

body {
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	overflow-y: auto !important;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
	direction: ltr;
	-moz-osx-font-smoothing: grayscale;
}

body {
	color: #575757;
	font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: .01em;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
}

html, body {
	height: 100%;
	overflow: hidden;
}

hr {
	color: #76838f;
	border-top: 1px dashed rgb(169, 169, 169);
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

	a:active,
	a:hover {
		outline: 0;
	}

button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font: inherit;
	color: inherit;
	resize: vertical;
}

textarea {
	min-height: 30px;
}

ol, ul {
	margin-top: 0;
	margin-bottom: 11px;
}

	ul ul {
		list-style-type: none;
	}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

	*:before,
	*:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

a {
	color: #337ab7;
	text-decoration: none;
}

	a:hover,
	a:focus {
		text-decoration: none;
	}

	a:focus {
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}


dl, h1, h2, h3, h4, h5, h6, ol, p, pre, ul {
	margin-top: 0;
}

dd, h1, h2, h3, h4, h5, h6, label {
	margin-bottom: .5rem;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
	text-shadow: rgba(0,0,0,.15) 0 0 1px;
}

/*.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}*/

.h5, h5 {
	font-size: 1.25rem;
}

.h3, h3 {
	font-size: 1.75rem;
}

/*h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-weight: 300;
	color: #2c2c2c;
}*/

h3 {
	font-size: 27px;
	line-height: 35px;
}


h5 {
	font-size: 18px;
	line-height: 25.88px;
}

@media (max-width: 1400px) {
	h5 {
		font-size: 16px;
		line-height: 25.88px;
	}
}

.windows h3 {
	font-size: 29px;
	line-height: 33px;
}

.windows h5 {
	font-size: 19px;
	line-height: 28px;
	font-weight: 400;
}

.windows h1, .windows h2, .windows h3, .windows h4, .windows h5 {
	letter-spacing: normal;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	background-color: transparent;
}

jtse-accordion, jtse-alert, jtse-grid, jtse-grid, jtse-loading,
jtse-modal, jtse-multiselect, jtse-multitag, jtse-popover,
jtse-tabs, jtse-tooltip {
	display: none;
}

.text-control {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 12px;
	padding: 3px 5px;
	height: 27px;
	/*background-color: #448AFF;*/
	color: white;
	border: 1px solid #BDBDBD;
}

p {
	display: block;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: .01em;
	line-height: 22px;
	margin: 0 0 10px;
	font-style: normal;
	white-space: normal;
}

.small, small {
	font-size: 80%;
	font-weight: 400;
}

small, .small {
	line-height: 18px;
	font-size: 85%;
}

@media (max-width: 1400px) {
	small, .small {
		font-size: 89%;
		line-height: 17px;
	}
}

.windows body, .windows p {
	font-size: 13px;
	letter-spacing: normal;
}

.windows small, .windows .small {
	font-size: 89%;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, legend, main, nav, section {
	display: block;
}

/*antiguo css*/
.text-control-search {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.text-control-trash {
	right: 26px !important;
}

.text-control-inp {
	padding-right: 70px;
}

.text-date-inp {
	padding-right: 33px !important;
}

.text-control-date {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.float-right {
	float: right;
}

.link {
	color: rgb(0, 0, 142);
	cursor: pointer;
	text-decoration: underline;
}
