﻿.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.hand {
	cursor: pointer;
}

.scroll-x {
	overflow-x: auto;
}

/*aqui*/

.m-b-10 {
	margin-bottom: 10px;
}

.p-l-20 {
	padding-left: 20px !important;
}
.p-b-5 {
	padding-bottom: 5px !important;
}
.m-t-5 {
	margin-top: 5px;
}
.m-r-5 {
	margin-right: 5px;
}
.m-b-20 {
	margin-bottom: 20px;
}
.m-r-10 {
	margin-right: 10px;
}
.m-r-20 {
	margin-right: 20px;
}
.p-t-20 {
	padding-top: 20px !important;
}

.p-b-30 {
	padding-bottom: 30px !important;
}

.no-border {
	border: none !important;
}

.full-height {
	height: 100% !important;
}

.top-left {
	position: absolute !important;
	top: 0;
	left: 0;
}

.top-right {
	position: absolute !important;
	top: 1px;
	right: 0;
}

.pull-up {
	position: absolute !important;
	top: 0;
}

.hint-text {
	opacity: .7;
}

.all-caps {
	text-transform: uppercase;
}

.fs-11 {
	font-size: 10.5px !important;
}

.font-montserrat {
	font-family: montserrat !important;
}

.relative {
	position: relative;
}

.mt-auto, .my-auto {
	margin-top: auto !important;
}

.visible {
	visibility: visible !important;
}

.m-l-20 {
	margin-left: 20px;
}
.fs-12 {
	font-size: 12px !important;
}
.fs-14 {
	font-size: 14px !important;
}
.fs-16 {
	font-size: 16px !important;
}
.m-t-30 {
	margin-top: 30px;
}

.pull-left {
	float: left !important;
}

.semi-bold {
	font-weight: 400 !important;
}

.pull-right {
	float: right !important;
}
