﻿/*.container {
	padding-right: 5px;
	padding-left: 5px;
	margin-right: auto;
	margin-left: auto;
}*/

/*@media (min-width: 769px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}*/

/*nuevo css*/

/*.container, .container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}*/

@media (min-width:576px) {
	.container {
		max-width: 540px
	}
}

@media (min-width:768px) {
	.container {
		max-width: 720px
	}
}

@media (min-width:992px) {
	.container {
		max-width: 960px
	}
}

@media (min-width:1200px) {
	.container {
		max-width: 1140px
	}
}

/*.container, .container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}*/

/*.container-fluid {
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
}*/

.container-xs-height {
	display: table;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

.jumbotron {
	padding: 2rem 1rem;
	margin-bottom: 10px;
	background-color: #e9ecef;
	border-radius: .3rem;
}

@media (min-width: 576px) {
	.jumbotron {
		padding: 4rem 2rem;
	}
}

.jumbotron {
	position: relative;
	overflow: hidden;
	display: block;
	padding: 0;
	background-color: #e7e7e7;
}

.jumbotron {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.container, .container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

.container-fluid {
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

@media (max-width: 767px) {
	.jumbotron, .container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
}

.jumbotron .inner {
	position: relative;
	z-index: 2;
}

.breadcrumb, .pagination {
	border-radius: .25rem;
	list-style: none;
}

.breadcrumb {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: .75rem 1rem;
	margin-bottom: 1rem;
	background-color: #e9ecef;
}

.breadcrumb {
	font-family: montserrat;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	box-shadow: none;
	background-color: transparent;
	padding: 15px 0;
	margin: 0;
	border: none;
	text-transform: uppercase;
}

@media (max-width: 991px) {
	.breadcrumb {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.breadcrumb .breadcrumb-item {
	float: left;
	padding-left: 0;
}

.breadcrumb-item + .breadcrumb-item {
	padding-left: .5rem;
}

.breadcrumb-item.active {
	color: #6c757d;
}

.breadcrumb .breadcrumb-item {
	float: left;
	padding-left: 0;
}

.breadcrumb a {
	margin-left: 5px;
	margin-right: 5px;
	font-size: 10.5px !important;
	letter-spacing: .06em;
	font-weight: 500;
	color: #7b7d82;
}

.breadcrumb > .breadcrumb-item.active {
	font-weight: 500;
	color: #0090d9;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 10.5px !important;
	letter-spacing: .06em;
}

.breadcrumb-item + .breadcrumb-item::before {
	display: inline-block;
	padding-right: .5rem;
	color: #6c757d;
	content: "/";
}

.breadcrumb > .breadcrumb-item + .breadcrumb-item:before {
	padding: 0 5px;
	color: #515050;
	font-family: FontAwesome;
	content: "\f105";
	font-size: 12px;
	font-weight: 700;
}

.breadcrumb > .breadcrumb-item.active:before {
	padding-right: 10px;
}

