﻿/*.row {
	margin-right: -8px;
	margin-left: -8px;
}*/
.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.sm-gutter {
	margin-left: -5px;
	margin-right: -5px;
}

.without-padding {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em;
	border-radius: 4px;
}

legend {
	font-size: 13px;
	line-height: inherit;
	white-space: normal;
	color: #555;
	font-weight: 600;
}

.checkbox-inline {
	margin-top: 6px;
}

.form-control {
	display: block;
	width: 100%;
	height: 24px;
	padding: 3px 6px;
	font-size: 12px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.form-group-default.focused {
	border-color: rgba(0,0,0,.1) !important;
	background-color: #e7e7e7;
}

.form-control:focus::-moz-placeholder {
	color: inherit;
	opacity: .7
}

.form-control:focus:-ms-input-placeholder {
	color: inherit;
	opacity: .7
}

.form-control:focus::-webkit-input-placeholder {
	color: inherit;
	opacity: .7
}

.form-control::-moz-placeholder {
	color: inherit;
	opacity: .33
}

.form-control:-ms-input-placeholder {
	color: inherit;
	opacity: .33
}

.form-control::-webkit-input-placeholder {
	color: inherit;
	opacity: .33
}

/*.form-control::-moz-placeholder {
	color: #999;
	opacity: 1;
}

.form-control:-ms-input-placeholder {
	color: #999;
}

.form-control::-webkit-input-placeholder {
	color: #999;
}*/

.form-control::-ms-expand {
	background-color: transparent;
	border: 0;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	background-color: #f3f7f9;
	opacity: 1;
}

.form-control[disabled],
fieldset[disabled] .form-control {
	cursor: not-allowed;
}

.form-group-default.disabled {
	background: #f3f3f3;
	color: rgba(87,87,87,.23);
}

	.form-group-default.disabled input {
		opacity: .6;
	}

textarea.form-control {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: none;
}

.form-group {
	margin-bottom: 6px;
}

.form-group-default {
	background-color: #fff;
	position: relative;
	border: 1px solid rgba(0,0,0,.07);
	border-radius: 2px;
	padding-top: 0px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 4px;
	overflow: hidden;
	width: 100%;
	-webkit-transition: background-color .2s ease;
	transition: background-color .2s ease;
}

.form-group-lg {
	margin-bottom: 12px;
}

.form-group .control-label {
	line-height: 1.5;
}
.radio,
.checkbox {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

	.radio label,
	.checkbox label {
		min-height: 20px;
		padding-left: 10px;
		margin-bottom: 0;
		font-weight: normal;
		cursor: pointer;
	}

	.radio > input[type="radio"] {
		margin-left: 5px;
		margin-right: 10px;
	}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
	cursor: not-allowed;
}

.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
	cursor: not-allowed;
}

.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
	cursor: not-allowed;
}

.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success.radio label,
.has-success.checkbox label {
	color: #3c763d;
}

.has-success .form-control {
	border-color: #3c763d;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

	.has-success .form-control:focus {
		border-color: #2b542c;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
	}

.has-success .input-group-addon {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #3c763d;
}

.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning.radio label,
.has-warning.checkbox label {
	color: #8a6d3b;
}

.has-warning .form-control, .form-control.has-warning {
	border-color: #8a6d3b;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

	.has-warning .form-control:focus, .form-control.has-warning :focus {
		border-color: #66512c;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
	}

.has-warning .input-group-addon {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #8a6d3b;
}

.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error.radio label,
.has-error.checkbox label {
	color: #a94442;
}

.has-error .form-control, .form-control.has-error {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

	.has-error .form-control:focus, .form-control.has-error {
		border-color: #843534;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
	}

.has-error .input-group-addon {
	color: #a94442;
	background-color: #f2dede;
	border-color: #a94442;
}

/*.form-control.focus, .form-control:focus {
	border-color: #62a8ea;
}*/

.form-horizontal .radio,
.form-horizontal .checkbox {
	padding-top: 3px;
	margin-top: 0;
	margin-bottom: 0;
	min-height: 27px;
}

.form-horizontal .form-group {
	margin-right: -8px;
	margin-left: -8px;
}

.form-horizontal .control-label {
	padding-top: 3px;
	margin-bottom: 0;
	text-align: right;
}

.form-title {
	color: #76838f;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 5px;
}

	.form-title > span {
		border: 1px solid #e4eaec;
		border-radius: 10px;
		padding: 5px;
		background-color: #e4eaec;
	}

.input-group {
	position: relative;
	display: table;
	border-collapse: separate;
}

	.input-group[class*="col-"] {
		float: none;
		padding-right: 0;
		padding-left: 0;
	}

	.input-group .form-control {
		position: relative;
		z-index: 2;
		float: left;
		width: 100%;
		margin-bottom: 0;
	}

		.input-group .form-control:focus {
			z-index: 3;
		}

	.input-group-addon,
	.input-group-btn,
	.input-group .form-control {
		display: table-cell;
	}

		.input-group-addon:not(:first-child):not(:last-child),
		.input-group-btn:not(:first-child):not(:last-child),
		.input-group .form-control:not(:first-child):not(:last-child) {
			border-radius: 0;
		}

.input-group-addon,
.input-group-btn {
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
}

.input-group-addon {
	padding: 3px 7px;
	font-size: 12px;
	font-weight: normal;
	line-height: 1;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ffffff;
	border-radius: 4px;
}

.input-group .input-group-addon {
	border-radius: 3px;
	background-color: #2461aa;
	color: #fff;
}

.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
	margin-top: 0;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group-addon:first-child {
	border-right: 0;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.input-group-addon:last-child {
	border-left: 0;
}

.input-group-btn {
	position: relative;
	font-size: 0;
	white-space: nowrap;
	border-radius: 4px;
}

	.input-group-btn > .btn {
		position: relative;
		padding: 3px 12px;
		line-height: 1.4;
		border-radius: inherit;
		color: #fff;
		background-color: #3770a7;
		/*border-color: #ccc;*/
	}

		.input-group-btn > .btn.delete {
			padding: 3px 4px;
			border: none;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			color: #555;
			background-color: #fff;
		}

		.input-group-btn > .btn + .btn {
			margin-left: -1px;
		}

		.input-group-btn > .btn:hover,
		.input-group-btn > .btn:focus,
		.input-group-btn > .btn:active {
			z-index: 2;
		}

	.input-group-btn:first-child > .btn,
	.input-group-btn:first-child > .btn-group {
		margin-right: -1px;
	}

	.input-group-btn:last-child > .btn,
	.input-group-btn:last-child > .btn-group {
		z-index: 2;
		margin-left: -1px;
	}

.question {
	float: right;
	position: absolute;
	right: -6px;
	top: 6px;
	cursor: pointer;
	font-size: 13px !important;
	color: #2461aa;
	z-index: 5;
}

/*inicia*/
label, output {
	display: inline-block;
}

button, hr, input {
	overflow: visible;
}

button, input, optgroup, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

label, input, button, select, textarea {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
}

.form-group-default label {
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: opacity .2s ease;
	transition: opacity .2s ease;
}

.form-group label:not(.error) {
	font-family: montserrat;
	font-size: 10px;
	letter-spacing: .06em;
	text-transform: uppercase;
	font-weight: 500;
}

.form-group-default.focused label {
	opacity: .4;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

input, input:focus {
	-webkit-transition: none !important;
}

.dropdown-menu, .form-control, .modal-content, .popover {
	background-clip: padding-box;
}

/*.form-control {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control {
	background-color: #fff;
	background-image: none;
	border: 1px solid rgba(0,0,0,.07);
	font-family: Arial,sans-serif;
	-webkit-appearance: none;
	color: #2c2c2c;
	outline: 0;
	padding: 8px 12px;
	line-height: normal;
	font-size: 12px;
	font-weight: 400;
	vertical-align: middle;
	min-height: 35px;
	-webkit-transition: all .12s ease;
	transition: all .12s ease;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-transition: background .2s linear 0s;
	transition: background .2s linear 0s;
}*/

.form-group-default .form-control {
	border: none;
	height: 25px;
	min-height: 25px;
	padding: 0;
	margin-top: -4px;
	background: 0 0;
}

.form-group-default.required:after {
	color: #f35958;
	content: "*";
	font-family: arial;
	font-size: 20px;
	position: absolute;
	right: 12px;
	top: 6px;
}

.label {
	padding: 3px 9px;
	font-size: 11px;
	line-height: 1;
	text-shadow: none;
	background-color: #e1e1e1;
	font-weight: 600;
	color: #575757;
	border-radius: .25em;
}

@media only screen and (min-width: 768px) {
	.form .row {
		margin-left: 0;
		margin-right: 0;
	}
}

@media only screen and (min-width: 768px) {
	.form .row [class*=col-]:not(:first-child), .form .row [class*=col-]:not(:last-child) {
		padding-right: 7px;
		padding-left: 7px;
	}
}

@media only screen and (min-width: 768px) {
	.form .row [class*=col-]:first-child {
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (min-width: 768px) {
	.form .row [class*=col-]:last-child {
		padding-right: 0;
	}
}

.sm-gutter .row > [class^=col-], .sm-gutter .row > [class*=col-] {
	padding-left: 5px;
	padding-right: 5px;
}

.row-xs-height {
	display: table-row;
}

.form-group-attached > div {
	margin: 0;
}

.form-group-default.has-error {
	background-color: rgba(243,89,88,.1);
}

.form-group-attached .form-group.form-group-default {
	border-radius: 0;
	margin-bottom: 0;
}

.form-group-attached > div:first-child.form-group-default {
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	border-top-right-radius: 2px;
}

.form-group-attached > div:not(:last-child) .form-group-default, .form-group-attached > div:not(:last-child).form-group-default {
	border-bottom-color: transparent;
}

.form-group-attached > div.row > [class*=col-] {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

@media only screen and (min-width: 768px) {
	.form-group-attached > div.row > [class*=col-] .form-group {
		height: 100%;
		width: 100%;
	}
}

.form-group-attached > div:last-child.row > [class*=col-]:first-child .form-group-default {
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-left-radius: 2px;
}
.form-group-attached > div.row > [class*=col-]:not(:only-child):not(:last-child) > .form-group-default {
	border-right-color: transparent;
}