﻿.col,
.col-xs,
.col-sm,
.col-md,
.col-lg,
.col-1,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-2,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-3,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-4,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-5,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-6,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-7,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-8,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-9,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-10,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-11,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-12,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12,
.col-13,
.col-xs-13,
.col-sm-13,
.col-md-13,
.col-lg-13,
.col-14,
.col-xs-14,
.col-sm-14,
.col-md-14,
.col-lg-14,
.col-15,
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15,
.col-16,
.col-xs-16,
.col-sm-16,
.col-md-16,
.col-lg-16,
.col-17,
.col-xs-17,
.col-sm-17,
.col-md-17,
.col-lg-17,
.col-18,
.col-xs-18,
.col-sm-18,
.col-md-18,
.col-lg-18,
.col-19,
.col-xs-19,
.col-sm-19,
.col-md-19,
.col-lg-19,
.col-20,
.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20,
.col-21,
.col-xs-21,
.col-sm-21,
.col-md-21,
.col-lg-21,
.col-22,
.col-xs-22,
.col-sm-22,
.col-md-22,
.col-lg-22,
.col-23,
.col-xs-23,
.col-sm-23,
.col-md-23,
.col-lg-23,
.col-24,
.col-xs-24,
.col-sm-24,
.col-md-24,
.col-lg-24,
.col-auto,
.col-xs-auto,
.col-sm-auto,
.col-md-auto,
.col-lg-auto {
	/*position: relative;
	min-height: 1px;
	padding-right: 8px;
	padding-left: 8px;*/
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-auto,
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-13,
.col-14,
.col-15,
.col-16,
.col-17,
.col-18,
.col-19,
.col-20,
.col-21,
.col-22,
.col-23,
.col-24 {
	float: left;
}

.col-24 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.col-23 {
	-ms-flex: 0 0 95.83333333666667%;
	flex: 0 0 95.83333333666667%;
	max-width: 95.83333333666667%;
}

.col-22 {
	-ms-flex: 0 0 91.66666667%;
	flex: 0 0 91.66666667%;
	max-width: 91.66666667%;
}

.col-21 {
	-ms-flex: 0 0 87.49999999666667%;
	flex: 0 0 87.49999999666667%;
	max-width: 87.49999999666667%;
}

.col-20 {
	-ms-flex: 0 0 83.33333333%;
	flex: 0 0 83.33333333%;
	max-width: 83.33333333%;
}

.col-19 {
	-ms-flex: 0 0 79.16666666666667%;
	flex: 0 0 79.16666666666667%;
	max-width: 79.16666666666667%;
}

.col-18 {
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}

.col-17 {
	-ms-flex: 0 0 70.83333333666667%;
	flex: 0 0 70.83333333666667%;
	max-width: 70.83333333666667%;
}

.col-16 {
	-ms-flex: 0 0 66.66666667%;
	flex: 0 0 66.66666667%;
	max-width: 66.66666667%;
}

.col-15 {
	-ms-flex: 0 0 62.49999999666667%;
	flex: 0 0 62.49999999666667%;
	max-width: 62.49999999666667%;
}

.col-14 {
	-ms-flex: 0 0 58.33333333%;
	flex: 0 0 58.33333333%;
	max-width: 58.33333333%;
}

.col-13 {
	-ms-flex: 0 0 54.16666666666667%;
	flex: 0 0 54.16666666666667%;
	max-width: 54.16666666666667%;
}

.col-12 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}

.col-11 {
	-ms-flex: 0 0 45.83333333666667%;
	flex: 0 0 45.83333333666667%;
	max-width: 45.83333333666667%;
}

.col-10 {
	-ms-flex: 0 0 41.66666667%;
	flex: 0 0 41.66666667%;
	max-width: 41.66666667%;
}

.col-9 {
	-ms-flex: 0 0 37.49999999666667%;
	flex: 0 0 37.49999999666667%;
	max-width: 37.49999999666667%;
}

.col-8 {
	-ms-flex: 0 0 33.33333333%;
	flex: 0 0 33.33333333%;
	max-width: 33.33333333%;
}

.col-7 {
	-ms-flex: 0 0 29.16666666666667%;
	flex: 0 0 29.16666666666667%;
	max-width: 29.16666666666667%;
}

.col-6 {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.col-5 {
	-ms-flex: 0 0 20.83333333666667%;
	flex: 0 0 20.83333333666667%;
	max-width: 20.83333333666667%;
}

.col-4 {
	-ms-flex: 0 0 16.66666667%;
	flex: 0 0 16.66666667%;
	max-width: 16.66666667%;
}

.col-3 {
	-ms-flex: 0 0 12.49999999666667%;
	flex: 0 0 12.49999999666667%;
	max-width: 12.49999999666667%;
}

.col-2 {
	-ms-flex: 0 0 8.333333%;
	flex: 0 0 8.333333%;
	max-width: 8.333333%;
}

.col-1 {
	-ms-flex: 0 0 4.166666666666667%;
	flex: 0 0 4.166666666666667%;
	max-width: 4.166666666666667%;
}

.col-auto {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: none
}

.col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%
}



.col-offset-24 {
	margin-left: 100%;
}

.col-offset-23 {
	margin-left: 95.83333333666667%;
}

.col-offset-22 {
	margin-left: 91.66666667%;
}

.col-offset-21 {
	margin-left: 87.49999999666667%;
}

.col-offset-20 {
	margin-left: 83.33333333%;
}

.col-offset-19 {
	margin-left: 79.16666666666667%;
}

.col-offset-18 {
	margin-left: 75%;
}

.col-offset-17 {
	margin-left: 70.83333333666667%;
}

.col-offset-16 {
	margin-left: 66.66666667%;
}

.col-offset-15 {
	margin-left: 62.49999999666667%;
}

.col-offset-14 {
	margin-left: 58.33333333%;
}

.col-offset-13 {
	margin-left: 54.16666666666667%;
}

.col-offset-12 {
	margin-left: 50%;
}

.col-offset-11 {
	margin-left: 45.83333333666667%;
}

.col-offset-10 {
	margin-left: 41.66666667%;
}

.col-offset-9 {
	margin-left: 37.49999999666667%;
}

.col-offset-8 {
	margin-left: 33.33333333%;
}

.col-offset-7 {
	margin-left: 29.16666666666667%;
}

.col-offset-6 {
	margin-left: 25%;
}

.col-offset-5 {
	margin-left: 20.83333333666667%;
}

.col-offset-4 {
	margin-left: 16.66666667%;
}

.col-offset-3 {
	margin-left: 12.49999999666667%;
}

.col-offset-2 {
	margin-left: 8.33333333%;
}

.col-offset-1 {
	margin-left: 4.166666666666667%;
}

.col-offset-0 {
	margin-left: 0;
}


/*@media (min-width: 450px) {
	.col-xs-1,
	.col-xs-2,
	.col-xs-3,
	.col-xs-4,
	.col-xs-5,
	.col-xs-6,
	.col-xs-7,
	.col-xs-8,
	.col-xs-9,
	.col-xs-10,
	.col-xs-11,
	.col-xs-12,
	.col-xs-13,
	.col-xs-14,
	.col-xs-15,
	.col-xs-16,
	.col-xs-17,
	.col-xs-18,
	.col-xs-19,
	.col-xs-20,
	.col-xs-21,
	.col-xs-22,
	.col-xs-23,
	.col-xs-24 {
		float: left;
	}

	.col-xs-24 {
		width: 100%;
	}

	.col-xs-23 {
		width: 95.83333333666667%;
	}

	.col-xs-22 {
		width: 91.66666667%;
	}

	.col-xs-21 {
		width: 87.49999999666667%;
	}

	.col-xs-20 {
		width: 83.33333333%;
	}

	.col-xs-19 {
		width: 79.16666666666667%;
	}

	.col-xs-18 {
		width: 75%;
	}

	.col-xs-17 {
		width: 70.83333333666667%;
	}

	.col-xs-16 {
		width: 66.66666667%;
	}

	.col-xs-15 {
		width: 62.49999999666667%;
	}

	.col-xs-14 {
		width: 58.33333333%;
	}

	.col-xs-13 {
		width: 54.16666666666667%;
	}

	.col-xs-12 {
		width: 50%;
	}

	.col-xs-11 {
		width: 45.83333333666667%;
	}

	.col-xs-10 {
		width: 41.66666667%;
	}

	.col-xs-9 {
		width: 37.49999999666667%;
	}

	.col-xs-8 {
		width: 33.33333333%;
	}

	.col-xs-7 {
		width: 29.16666666666667%;
	}

	.col-xs-6 {
		width: 25%;
	}

	.col-xs-5 {
		width: 20.83333333666667%;
	}

	.col-xs-4 {
		width: 16.66666667%;
	}

	.col-xs-3 {
		width: 12.49999999666667%;
	}

	.col-xs-2 {
		width: 8.33333333%;
	}

	.col-xs-1 {
		width: 4.166666666666667%;
	}

	.col-xs-offset-24 {
		margin-left: 100%;
	}

	.col-xs-offset-23 {
		margin-left: 95.83333333666667%;
	}

	.col-xs-offset-22 {
		margin-left: 91.66666667%;
	}

	.col-xs-offset-21 {
		margin-left: 87.49999999666667%;
	}

	.col-xs-offset-20 {
		margin-left: 83.33333333%;
	}

	.col-xs-offset-19 {
		margin-left: 79.16666666666667%;
	}

	.col-xs-offset-18 {
		margin-left: 75%;
	}

	.col-xs-offset-17 {
		margin-left: 70.83333333666667%;
	}

	.col-xs-offset-16 {
		margin-left: 66.66666667%;
	}

	.col-xs-offset-15 {
		margin-left: 62.49999999666667%;
	}

	.col-xs-offset-14 {
		margin-left: 58.33333333%;
	}

	.col-xs-offset-13 {
		margin-left: 54.16666666666667%;
	}

	.col-xs-offset-12 {
		margin-left: 50%;
	}

	.col-xs-offset-11 {
		margin-left: 45.83333333666667%;
	}

	.col-xs-offset-10 {
		margin-left: 41.66666667%;
	}

	.col-xs-offset-9 {
		margin-left: 37.49999999666667%;
	}

	.col-xs-offset-8 {
		margin-left: 33.33333333%;
	}

	.col-xs-offset-7 {
		margin-left: 29.16666666666667%;
	}

	.col-xs-offset-6 {
		margin-left: 25%;
	}

	.col-xs-offset-5 {
		margin-left: 20.83333333666667%;
	}

	.col-xs-offset-4 {
		margin-left: 16.66666667%;
	}

	.col-xs-offset-3 {
		margin-left: 12.49999999666667%;
	}

	.col-xs-offset-2 {
		margin-left: 8.33333333%;
	}

	.col-xs-offset-1 {
		margin-left: 4.166666666666667%;
	}

	.col-xs-offset-0 {
		margin-left: 0;
	}
}*/

@media (max-width: 576px) {
	.form-horizontal .control-label {
		text-align: left;
	}
}

@media (min-width: 576px) {
	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-13,
	.col-sm-14,
	.col-sm-15,
	.col-sm-16,
	.col-sm-17,
	.col-sm-18,
	.col-sm-19,
	.col-sm-20,
	.col-sm-21,
	.col-sm-22,
	.col-sm-23,
	.col-sm-24 {
		float: left;
	}

	.col-sm-24 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.col-sm-23 {
		ms-flex: 0 0 95.83333333666667%;
		flex: 0 0 95.83333333666667%;
		max-width: 95.83333333666667%;
	}

	.col-sm-22 {
		ms-flex: 0 0 91.66666667%;
		flex: 0 0 91.66666667%;
		max-width: 91.66666667%;
	}

	.col-sm-21 {
		ms-flex: 0 0 87.49999999666667%;
		flex: 0 0 87.49999999666667%;
		max-width: 87.49999999666667%;
	}

	.col-sm-20 {
		ms-flex: 0 0 83.33333333%;
		flex: 0 0 83.33333333%;
		max-width: 83.33333333%;
	}

	.col-sm-19 {
		ms-flex: 0 0 79.16666666666667%;
		flex: 0 0 79.16666666666667%;
		max-width: 79.16666666666667%;
	}

	.col-sm-18 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-sm-17 {
		ms-flex: 0 0 70.83333333666667%;
		flex: 0 0 70.83333333666667%;
		max-width: 70.83333333666667%;
	}

	.col-sm-16 {
		ms-flex: 0 0 66.66666667%;
		flex: 0 0 66.66666667%;
		max-width: 66.66666667%;
	}

	.col-sm-15 {
		ms-flex: 0 0 62.49999999666667%;
		flex: 0 0 62.49999999666667%;
		max-width: 62.49999999666667%;
	}

	.col-sm-14 {
		ms-flex: 0 0 58.33333333%;
		flex: 0 0 58.33333333%;
		max-width: 58.33333333%;
	}

	.col-sm-13 {
		ms-flex: 0 0 54.16666666666667%;
		flex: 0 0 54.16666666666667%;
		max-width: 54.16666666666667%;
	}

	.col-sm-12 {
		ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-sm-11 {
		ms-flex: 0 0 45.83333333666667%;
		flex: 0 0 45.83333333666667%;
		max-width: 45.83333333666667%;
	}

	.col-sm-10 {
		ms-flex: 0 0 41.66666667%;
		flex: 0 0 41.66666667%;
		max-width: 41.66666667%;
	}

	.col-sm-9 {
		ms-flex: 0 0 37.49999999666667%;
		flex: 0 0 37.49999999666667%;
		max-width: 37.49999999666667%;
	}

	.col-sm-8 {
		ms-flex: 0 0 33.33333333%;
		flex: 0 0 33.33333333%;
		max-width: 33.33333333%;
	}

	.col-sm-7 {
		ms-flex: 0 0 29.16666666666667%;
		flex: 0 0 29.16666666666667%;
		max-width: 29.16666666666667%;
	}

	.col-sm-6 {
		ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-sm-5 {
		ms-flex: 0 0 20.83333333666667%;
		flex: 0 0 20.83333333666667%;
		max-width: 20.83333333666667%;
	}

	.col-sm-4 {
		ms-flex: 0 0 16.66666667%;
		flex: 0 0 16.66666667%;
		max-width: 16.66666667%;
	}

	.col-sm-3 {
		ms-flex: 0 0 12.49999999666667%;
		flex: 0 0 12.49999999666667%;
		max-width: 12.49999999666667%;
	}

	.col-sm-2 {
		ms-flex: 0 0 8.33333333%;
		flex: 0 0 8.33333333%;
		max-width: 8.33333333%;
	}

	.col-sm-1 {
		ms-flex: 0 0 4.166666666666667%;
		flex: 0 0 4.166666666666667%;
		max-width: 4.166666666666667%;
	}

	.col-sm {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%
	}

	.col-sm-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: none
	}

	.col-sm-offset-24 {
		margin-left: 100%;
	}

	.col-sm-offset-23 {
		margin-left: 95.83333333666667%;
	}

	.col-sm-offset-22 {
		margin-left: 91.66666667%;
	}

	.col-sm-offset-21 {
		margin-left: 87.49999999666667%;
	}

	.col-sm-offset-20 {
		margin-left: 83.33333333%;
	}

	.col-sm-offset-19 {
		margin-left: 79.16666666666667%;
	}

	.col-sm-offset-18 {
		margin-left: 75%;
	}

	.col-sm-offset-17 {
		margin-left: 70.83333333666667%;
	}

	.col-sm-offset-16 {
		margin-left: 66.66666667%;
	}

	.col-sm-offset-15 {
		margin-left: 62.49999999666667%;
	}

	.col-sm-offset-14 {
		margin-left: 58.33333333%;
	}

	.col-sm-offset-13 {
		margin-left: 54.16666666666667%;
	}

	.col-sm-offset-12 {
		margin-left: 50%;
	}

	.col-sm-offset-11 {
		margin-left: 45.83333333666667%;
	}

	.col-sm-offset-10 {
		margin-left: 41.66666667%;
	}

	.col-sm-offset-9 {
		margin-left: 37.49999999666667%;
	}

	.col-sm-offset-8 {
		margin-left: 33.33333333%;
	}

	.col-sm-offset-7 {
		margin-left: 29.16666666666667%;
	}

	.col-sm-offset-6 {
		margin-left: 25%;
	}

	.col-sm-offset-5 {
		margin-left: 20.83333333666667%;
	}

	.col-sm-offset-4 {
		margin-left: 16.66666667%;
	}

	.col-sm-offset-3 {
		margin-left: 12.49999999666667%;
	}

	.col-sm-offset-2 {
		margin-left: 8.33333333%;
	}

	.col-sm-offset-1 {
		margin-left: 4.166666666666667%;
	}

	.col-sm-offset-0 {
		margin-left: 0;
	}
}

@media (max-width: 768px) {
	.form-horizontal .control-label {
		text-align: left;
	}
}

@media (min-width: 768px) {
	.col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-md-13,
	.col-md-14,
	.col-md-15,
	.col-md-16,
	.col-md-17,
	.col-md-18,
	.col-md-19,
	.col-md-20,
	.col-md-21,
	.col-md-22,
	.col-md-23,
	.col-md-24 {
		float: left;
	}

	.col-md-24 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.col-md-23 {
		ms-flex: 0 0 95.83333333666667%;
		flex: 0 0 95.83333333666667%;
		max-width: 95.83333333666667%;
	}

	.col-md-22 {
		ms-flex: 0 0 91.66666667%;
		flex: 0 0 91.66666667%;
		max-width: 91.66666667%;
	}

	.col-md-21 {
		ms-flex: 0 0 87.49999999666667%;
		flex: 0 0 87.49999999666667%;
		max-width: 87.49999999666667%;
	}

	.col-md-20 {
		ms-flex: 0 0 83.33333333%;
		flex: 0 0 83.33333333%;
		max-width: 83.33333333%;
	}

	.col-md-19 {
		ms-flex: 0 0 79.16666666666667%;
		flex: 0 0 79.16666666666667%;
		max-width: 79.16666666666667%;
	}

	.col-md-18 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-md-17 {
		ms-flex: 0 0 70.83333333666667%;
		flex: 0 0 70.83333333666667%;
		max-width: 70.83333333666667%;
	}

	.col-md-16 {
		ms-flex: 0 0 66.66666667%;
		flex: 0 0 66.66666667%;
		max-width: 66.66666667%;
	}

	.col-md-15 {
		ms-flex: 0 0 62.49999999666667%;
		flex: 0 0 62.49999999666667%;
		max-width: 62.49999999666667%;
	}

	.col-md-14 {
		ms-flex: 0 0 58.33333333%;
		flex: 0 0 58.33333333%;
		max-width: 58.33333333%;
	}

	.col-md-13 {
		ms-flex: 0 0 54.16666666666667%;
		flex: 0 0 54.16666666666667%;
		max-width: 54.16666666666667%;
	}

	.col-md-12 {
		ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-md-11 {
		ms-flex: 0 0 45.83333333666667%;
		flex: 0 0 45.83333333666667%;
		max-width: 45.83333333666667%;
	}

	.col-md-10 {
		ms-flex: 0 0 41.66666667%;
		flex: 0 0 41.66666667%;
		max-width: 41.66666667%;
	}

	.col-md-9 {
		ms-flex: 0 0 37.49999999666667%;
		flex: 0 0 37.49999999666667%;
		max-width: 37.49999999666667%;
	}

	.col-md-8 {
		ms-flex: 0 0 33.33333333%;
		flex: 0 0 33.33333333%;
		max-width: 33.33333333%;
	}

	.col-md-7 {
		ms-flex: 0 0 29.16666666666667%;
		flex: 0 0 29.16666666666667%;
		max-width: 29.16666666666667%;
	}

	.col-md-6 {
		ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-md-5 {
		ms-flex: 0 0 20.83333333666667%;
		flex: 0 0 20.83333333666667%;
		max-width: 20.83333333666667%;
	}

	.col-md-4 {
		ms-flex: 0 0 16.66666667%;
		flex: 0 0 16.66666667%;
		max-width: 16.66666667%;
	}

	.col-md-3 {
		ms-flex: 0 0 12.49999999666667%;
		flex: 0 0 12.49999999666667%;
		max-width: 12.49999999666667%;
	}

	.col-md-2 {
		ms-flex: 0 0 8.33333333%;
		flex: 0 0 8.33333333%;
		max-width: 8.33333333%;
	}

	.col-md-1 {
		ms-flex: 0 0 4.166666666666667%;
		flex: 0 0 4.166666666666667%;
		max-width: 4.166666666666667%;
	}

	.col-md {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%
	}

	.col-md-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: none
	}

	.col-md-offset-24 {
		margin-left: 100%;
	}

	.col-md-offset-23 {
		margin-left: 95.83333333666667%;
	}

	.col-md-offset-22 {
		margin-left: 91.66666667%;
	}

	.col-md-offset-21 {
		margin-left: 87.49999999666667%;
	}

	.col-md-offset-20 {
		margin-left: 83.33333333%;
	}

	.col-md-offset-19 {
		margin-left: 79.16666666666667%;
	}

	.col-md-offset-18 {
		margin-left: 75%;
	}

	.col-md-offset-17 {
		margin-left: 70.83333333666667%;
	}

	.col-md-offset-16 {
		margin-left: 66.66666667%;
	}

	.col-md-offset-15 {
		margin-left: 62.49999999666667%;
	}

	.col-md-offset-14 {
		margin-left: 58.33333333%;
	}

	.col-md-offset-13 {
		margin-left: 54.16666666666667%;
	}

	.col-md-offset-12 {
		margin-left: 50%;
	}

	.col-md-offset-11 {
		margin-left: 45.83333333666667%;
	}

	.col-md-offset-10 {
		margin-left: 41.66666667%;
	}

	.col-md-offset-9 {
		margin-left: 37.49999999666667%;
	}

	.col-md-offset-8 {
		margin-left: 33.33333333%;
	}

	.col-md-offset-7 {
		margin-left: 29.16666666666667%;
	}

	.col-md-offset-6 {
		margin-left: 25%;
	}

	.col-md-offset-5 {
		margin-left: 20.83333333666667%;
	}

	.col-md-offset-4 {
		margin-left: 16.66666667%;
	}

	.col-md-offset-3 {
		margin-left: 12.49999999666667%;
	}

	.col-md-offset-2 {
		margin-left: 8.33333333%;
	}

	.col-md-offset-1 {
		margin-left: 4.166666666666667%;
	}

	.col-md-offset-0 {
		margin-left: 0;
	}
}

@media (max-width: 992px) {
	.form-horizontal .control-label {
		text-align: left;
	}
}

/**/
@media (min-width: 992px) {
	.col-lg-1,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12,
	.col-lg-13,
	.col-lg-14,
	.col-lg-15,
	.col-lg-16,
	.col-lg-17,
	.col-lg-18,
	.col-lg-19,
	.col-lg-20,
	.col-lg-21,
	.col-lg-22,
	.col-lg-23,
	.col-lg-24 {
		float: left;
	}

	.col-lg-24 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.col-lg-23 {
		-ms-flex: 0 0 95.83333333666667%;
		flex: 0 0 95.83333333666667%;
		max-width: 95.83333333666667%;
	}

	.col-lg-22 {
		-ms-flex: 0 0 91.66666667%;
		flex: 0 0 91.66666667%;
		max-width: 91.66666667%;
	}

	.col-lg-21 {
		-ms-flex: 0 0 87.49999999666667%;
		flex: 0 0 87.49999999666667%;
		max-width: 87.49999999666667%;
	}

	.col-lg-20 {
		-ms-flex: 0 0 83.33333333%;
		flex: 0 0 83.33333333%;
		max-width: 83.33333333%;
	}

	.col-lg-19 {
		-ms-flex: 0 0 79.16666666666667%;
		flex: 0 0 79.16666666666667%;
		max-width: 79.16666666666667%;
	}

	.col-lg-18 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-lg-17 {
		-ms-flex: 0 0 70.83333333666667%;
		flex: 0 0 70.83333333666667%;
		max-width: 70.83333333666667%;
	}

	.col-lg-16 {
		-ms-flex: 0 0 66.66666667%;
		flex: 0 0 66.66666667%;
		max-width: 66.66666667%;
	}

	.col-lg-15 {
		-ms-flex: 0 0 62.49999999666667%;
		flex: 0 0 62.49999999666667%;
		max-width: 62.49999999666667%;
	}

	.col-lg-14 {
		-ms-flex: 0 0 58.33333333%;
		flex: 0 0 58.33333333%;
		max-width: 58.33333333%;
	}

	.col-lg-13 {
		-ms-flex: 0 0 54.16666666666667%;
		flex: 0 0 54.16666666666667%;
		max-width: 54.16666666666667%;
	}

	.col-lg-12 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-lg-11 {
		-ms-flex: 0 0 45.83333333666667%;
		flex: 0 0 45.83333333666667%;
		max-width: 45.83333333666667%;
	}

	.col-lg-10 {
		-ms-flex: 0 0 41.66666667%;
		flex: 0 0 41.66666667%;
		max-width: 41.66666667%;
	}

	.col-lg-9 {
		-ms-flex: 0 0 37.49999999666667%;
		flex: 0 0 37.49999999666667%;
		max-width: 37.49999999666667%;
	}

	.col-lg-8 {
		-ms-flex: 0 0 33.33333333%;
		flex: 0 0 33.33333333%;
		max-width: 33.33333333%;
	}

	.col-lg-7 {
		-ms-flex: 0 0 29.16666666666667%;
		flex: 0 0 29.16666666666667%;
		max-width: 29.16666666666667%;
	}

	.col-lg-6 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-lg-5 {
		-ms-flex: 0 0 20.83333333666667%;
		flex: 0 0 20.83333333666667%;
		max-width: 20.83333333666667%;
	}

	.col-lg-4 {
		-ms-flex: 0 0 16.66666667%;
		flex: 0 0 16.66666667%;
		max-width: 16.66666667%;
	}

	.col-lg-3 {
		-ms-flex: 0 0 12.49999999666667%;
		flex: 0 0 12.49999999666667%;
		max-width: 12.49999999666667%;
	}

	.col-lg-2 {
		-ms-flex: 0 0 8.33333333%;
		flex: 0 0 8.33333333%;
		max-width: 8.33333333%;
	}

	.col-lg-1 {
		-ms-flex: 0 0 4.166666666666667%;
		flex: 0 0 4.166666666666667%;
		max-width: 4.166666666666667%;
	}

	.col-lg {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%
	}

	.col-lg-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: none
	}

	.col-lg-offset-24 {
		margin-left: 100%;
	}

	.col-lg-offset-23 {
		margin-left: 95.83333333666667%;
	}

	.col-lg-offset-22 {
		margin-left: 91.66666667%;
	}

	.col-lg-offset-21 {
		margin-left: 87.49999999666667%;
	}

	.col-lg-offset-20 {
		margin-left: 83.33333333%;
	}

	.col-lg-offset-19 {
		margin-left: 79.16666666666667%;
	}

	.col-lg-offset-18 {
		margin-left: 75%;
	}

	.col-lg-offset-17 {
		margin-left: 70.83333333666667%;
	}

	.col-lg-offset-16 {
		margin-left: 66.66666667%;
	}

	.col-lg-offset-15 {
		margin-left: 62.49999999666667%;
	}

	.col-lg-offset-14 {
		margin-left: 58.33333333%;
	}

	.col-lg-offset-13 {
		margin-left: 54.16666666666667%;
	}

	.col-lg-offset-12 {
		margin-left: 50%;
	}

	.col-lg-offset-11 {
		margin-left: 45.83333333666667%;
	}

	.col-lg-offset-10 {
		margin-left: 41.66666667%;
	}

	.col-lg-offset-9 {
		margin-left: 37.49999999666667%;
	}

	.col-lg-offset-8 {
		margin-left: 33.33333333%;
	}

	.col-lg-offset-7 {
		margin-left: 29.16666666666667%;
	}

	.col-lg-offset-6 {
		margin-left: 25%;
	}

	.col-lg-offset-5 {
		margin-left: 20.83333333666667%;
	}

	.col-lg-offset-4 {
		margin-left: 16.66666667%;
	}

	.col-lg-offset-3 {
		margin-left: 12.49999999666667%;
	}

	.col-lg-offset-2 {
		margin-left: 8.33333333%;
	}

	.col-lg-offset-1 {
		margin-left: 4.166666666666667%;
	}

	.col-lg-offset-0 {
		margin-left: 0;
	}
}
/**/
@media (min-width: 1200px) {
	.col-xl-1,
	.col-xl-2,
	.col-xl-3,
	.col-xl-4,
	.col-xl-5,
	.col-xl-6,
	.col-xl-7,
	.col-xl-8,
	.col-xl-9,
	.col-xl-10,
	.col-xl-11,
	.col-xl-12,
	.col-xl-13,
	.col-xl-14,
	.col-xl-15,
	.col-xl-16,
	.col-xl-17,
	.col-xl-18,
	.col-xl-19,
	.col-xl-20,
	.col-xl-21,
	.col-xl-22,
	.col-xl-23,
	.col-xl-24 {
		float: left;
	}

	.col-xl-24 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.col-xl-23 {
		-ms-flex: 0 0 95.83333333666667%;
		flex: 0 0 95.83333333666667%;
		max-width: 95.83333333666667%;
	}

	.col-xl-22 {
		-ms-flex: 0 0 91.66666667%;
		flex: 0 0 91.66666667%;
		max-width: 91.66666667%;
	}

	.col-xl-21 {
		-ms-flex: 0 0 87.49999999666667%;
		flex: 0 0 87.49999999666667%;
		max-width: 87.49999999666667%;
	}

	.col-xl-20 {
		-ms-flex: 0 0 83.33333333%;
		flex: 0 0 83.33333333%;
		max-width: 83.33333333%;
	}

	.col-xl-19 {
		-ms-flex: 0 0 79.16666666666667%;
		flex: 0 0 79.16666666666667%;
		max-width: 79.16666666666667%;
	}

	.col-xl-18 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-xl-17 {
		-ms-flex: 0 0 70.83333333666667%;
		flex: 0 0 70.83333333666667%;
		max-width: 70.83333333666667%;
	}

	.col-xl-16 {
		-ms-flex: 0 0 66.66666667%;
		flex: 0 0 66.66666667%;
		max-width: 66.66666667%;
	}

	.col-xl-15 {
		-ms-flex: 0 0 62.49999999666667%;
		flex: 0 0 62.49999999666667%;
		max-width: 62.49999999666667%;
	}

	.col-xl-14 {
		-ms-flex: 0 0 58.33333333%;
		flex: 0 0 58.33333333%;
		max-width: 58.33333333%;
	}

	.col-xl-13 {
		-ms-flex: 0 0 54.16666666666667%;
		flex: 0 0 54.16666666666667%;
		max-width: 54.16666666666667%;
	}

	.col-xl-12 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-xl-11 {
		-ms-flex: 0 0 45.83333333666667%;
		flex: 0 0 45.83333333666667%;
		max-width: 45.83333333666667%;
	}

	.col-xl-10 {
		-ms-flex: 0 0 41.66666667%;
		flex: 0 0 41.66666667%;
		max-width: 41.66666667%;
	}

	.col-xl-9 {
		-ms-flex: 0 0 37.49999999666667%;
		flex: 0 0 37.49999999666667%;
		max-width: 37.49999999666667%;
	}

	.col-xl-8 {
		-ms-flex: 0 0 33.33333333%;
		flex: 0 0 33.33333333%;
		max-width: 33.33333333%;
	}

	.col-xl-7 {
		-ms-flex: 0 0 29.16666666666667%;
		flex: 0 0 29.16666666666667%;
		max-width: 29.16666666666667%;
	}

	.col-xl-6 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-xl-5 {
		-ms-flex: 0 0 20.83333333666667%;
		flex: 0 0 20.83333333666667%;
		max-width: 20.83333333666667%;
	}

	.col-xl-4 {
		-ms-flex: 0 0 16.66666667%;
		flex: 0 0 16.66666667%;
		max-width: 16.66666667%;
	}

	.col-xl-3 {
		-ms-flex: 0 0 12.49999999666667%;
		flex: 0 0 12.49999999666667%;
		max-width: 12.49999999666667%;
	}

	.col-xl-2 {
		-ms-flex: 0 0 8.33333333%;
		flex: 0 0 8.33333333%;
		max-width: 8.33333333%;
	}

	.col-xl-1 {
		-ms-flex: 0 0 4.166666666666667%;
		flex: 0 0 4.166666666666667%;
		max-width: 4.166666666666667%;
	}

	.col-xl {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%
	}

	.col-xl-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: none
	}

	.col-xl-offset-24 {
		margin-left: 100%;
	}

	.col-xl-offset-23 {
		margin-left: 95.83333333666667%;
	}

	.col-xl-offset-22 {
		margin-left: 91.66666667%;
	}

	.col-xl-offset-21 {
		margin-left: 87.49999999666667%;
	}

	.col-xl-offset-20 {
		margin-left: 83.33333333%;
	}

	.col-xl-offset-19 {
		margin-left: 79.16666666666667%;
	}

	.col-xl-offset-18 {
		margin-left: 75%;
	}

	.col-xl-offset-17 {
		margin-left: 70.83333333666667%;
	}

	.col-xl-offset-16 {
		margin-left: 66.66666667%;
	}

	.col-xl-offset-15 {
		margin-left: 62.49999999666667%;
	}

	.col-xl-offset-14 {
		margin-left: 58.33333333%;
	}

	.col-xl-offset-13 {
		margin-left: 54.16666666666667%;
	}

	.col-xl-offset-12 {
		margin-left: 50%;
	}

	.col-xl-offset-11 {
		margin-left: 45.83333333666667%;
	}

	.col-xl-offset-10 {
		margin-left: 41.66666667%;
	}

	.col-xl-offset-9 {
		margin-left: 37.49999999666667%;
	}

	.col-xl-offset-8 {
		margin-left: 33.33333333%;
	}

	.col-xl-offset-7 {
		margin-left: 29.16666666666667%;
	}

	.col-xl-offset-6 {
		margin-left: 25%;
	}

	.col-xl-offset-5 {
		margin-left: 20.83333333666667%;
	}

	.col-xl-offset-4 {
		margin-left: 16.66666667%;
	}

	.col-xl-offset-3 {
		margin-left: 12.49999999666667%;
	}

	.col-xl-offset-2 {
		margin-left: 8.33333333%;
	}

	.col-xl-offset-1 {
		margin-left: 4.166666666666667%;
	}

	.col-xl-offset-0 {
		margin-left: 0;
	}
}

@media(min-width:1824px) {
	.col-xlg-1,
	.col-xlg-2,
	.col-xlg-3,
	.col-xlg-4,
	.col-xlg-5,
	.col-xlg-6,
	.col-xlg-7,
	.col-xlg-8,
	.col-xlg-9,
	.col-xlg-10,
	.col-xlg-11,
	.col-xlg-12,
	.col-xlg-13,
	.col-xlg-14,
	.col-xlg-15,
	.col-xlg-16,
	.col-xlg-17,
	.col-xlg-18,
	.col-xlg-19,
	.col-xlg-20,
	.col-xlg-21,
	.col-xlg-22,
	.col-xlg-23,
	.col-xlg-24 {
		float: left;
	}

	.col-xlg-1,
	.col-xlg-2,
	.col-xlg-3,
	.col-xlg-4,
	.col-xlg-5,
	.col-xlg-6,
	.col-xlg-7,
	.col-xlg-8,
	.col-xlg-9,
	.col-xlg-10,
	.col-xlg-11,
	.col-xlg-12,
	.col-xlg-13,
	.col-xlg-14,
	.col-xlg-15,
	.col-xlg-16,
	.col-xlg-17,
	.col-xlg-18,
	.col-xlg-19,
	.col-xlg-20,
	.col-xlg-21,
	.col-xlg-22,
	.col-xlg-23,
	.col-xlg-24 {
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
		position: relative
	}

	/*.col-xlg-24 {
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
		flex: 0 0 100%;
		max-width: 100%
	}*/

	.col-xlg-24 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.col-xlg-23 {
		-ms-flex: 0 0 95.83333333666667%;
		flex: 0 0 95.83333333666667%;
		max-width: 95.83333333666667%;
	}

	.col-xlg-22 {
		-ms-flex: 0 0 91.66666667%;
		flex: 0 0 91.66666667%;
		max-width: 91.66666667%;
	}

	.col-xlg-21 {
		-ms-flex: 0 0 87.49999999666667%;
		flex: 0 0 87.49999999666667%;
		max-width: 87.49999999666667%;
	}

	.col-xlg-20 {
		-ms-flex: 0 0 83.33333333%;
		flex: 0 0 83.33333333%;
		max-width: 83.33333333%;
	}

	.col-xlg-19 {
		-ms-flex: 0 0 79.16666666666667%;
		flex: 0 0 79.16666666666667%;
		max-width: 79.16666666666667%;
	}

	.col-xlg-18 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-xlg-17 {
		-ms-flex: 0 0 70.83333333666667%;
		flex: 0 0 70.83333333666667%;
		max-width: 70.83333333666667%;
	}

	.col-xlg-16 {
		-ms-flex: 0 0 66.66666667%;
		flex: 0 0 66.66666667%;
		max-width: 66.66666667%;
	}

	.col-xlg-15 {
		-ms-flex: 0 0 62.49999999666667%;
		flex: 0 0 62.49999999666667%;
		max-width: 62.49999999666667%;
	}

	.col-xlg-14 {
		-ms-flex: 0 0 58.33333333%;
		flex: 0 0 58.33333333%;
		max-width: 58.33333333%;
	}

	.col-xlg-13 {
		-ms-flex: 0 0 54.16666666666667%;
		flex: 0 0 54.16666666666667%;
		max-width: 54.16666666666667%;
	}

	.col-xlg-12 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-xlg-11 {
		-ms-flex: 0 0 45.83333333666667%;
		flex: 0 0 45.83333333666667%;
		max-width: 45.83333333666667%;
	}

	.col-xlg-10 {
		-ms-flex: 0 0 41.66666667%;
		flex: 0 0 41.66666667%;
		max-width: 41.66666667%;
	}

	.col-xlg-9 {
		-ms-flex: 0 0 37.49999999666667%;
		flex: 0 0 37.49999999666667%;
		max-width: 37.49999999666667%;
	}

	.col-xlg-8 {
		-ms-flex: 0 0 33.33333333%;
		flex: 0 0 33.33333333%;
		max-width: 33.33333333%;
	}

	.col-xlg-7 {
		-ms-flex: 0 0 29.16666666666667%;
		flex: 0 0 29.16666666666667%;
		max-width: 29.16666666666667%;
	}

	.col-xlg-6 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-xlg-5 {
		-ms-flex: 0 0 20.83333333666667%;
		flex: 0 0 20.83333333666667%;
		max-width: 20.83333333666667%;
	}

	.col-xlg-4 {
		-ms-flex: 0 0 16.66666667%;
		flex: 0 0 16.66666667%;
		max-width: 16.66666667%;
	}

	.col-xlg-3 {
		-ms-flex: 0 0 12.49999999666667%;
		flex: 0 0 12.49999999666667%;
		max-width: 12.49999999666667%;
	}

	.col-xlg-2 {
		-ms-flex: 0 0 8.33333333%;
		flex: 0 0 8.33333333%;
		max-width: 8.33333333%;
	}

	.col-xlg-1 {
		-ms-flex: 0 0 4.166666666666667%;
		flex: 0 0 4.166666666666667%;
		max-width: 4.166666666666667%;
	}

	.col-xlg {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%
	}

	.col-xlg-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: none
	}

	.col-xlg-offset-24 {
		margin-left: 100%;
	}

	.col-xlg-offset-23 {
		margin-left: 95.83333333666667%;
	}

	.col-xlg-offset-22 {
		margin-left: 91.66666667%;
	}

	.col-xlg-offset-21 {
		margin-left: 87.49999999666667%;
	}

	.col-xlg-offset-20 {
		margin-left: 83.33333333%;
	}

	.col-xlg-offset-19 {
		margin-left: 79.16666666666667%;
	}

	.col-xlg-offset-18 {
		margin-left: 75%;
	}

	.col-xlg-offset-17 {
		margin-left: 70.83333333666667%;
	}

	.col-xlg-offset-16 {
		margin-left: 66.66666667%;
	}

	.col-xlg-offset-15 {
		margin-left: 62.49999999666667%;
	}

	.col-xlg-offset-14 {
		margin-left: 58.33333333%;
	}

	.col-xlg-offset-13 {
		margin-left: 54.16666666666667%;
	}

	.col-xlg-offset-12 {
		margin-left: 50%;
	}

	.col-xlg-offset-11 {
		margin-left: 45.83333333666667%;
	}

	.col-xlg-offset-10 {
		margin-left: 41.66666667%;
	}

	.col-xlg-offset-9 {
		margin-left: 37.49999999666667%;
	}

	.col-xlg-offset-8 {
		margin-left: 33.33333333%;
	}

	.col-xlg-offset-7 {
		margin-left: 29.16666666666667%;
	}

	.col-xlg-offset-6 {
		margin-left: 25%;
	}

	.col-xlg-offset-5 {
		margin-left: 20.83333333666667%;
	}

	.col-xlg-offset-4 {
		margin-left: 16.66666667%;
	}

	.col-xlg-offset-3 {
		margin-left: 12.49999999666667%;
	}

	.col-xlg-offset-2 {
		margin-left: 8.33333333%;
	}

	.col-xlg-offset-1 {
		margin-left: 4.166666666666667%;
	}

	.col-xlg-offset-0 {
		margin-left: 0;
	}
}

.w-100 {
	width: 100% !important;
}

.h-100 {
	height: 100% !important;
}

.col-top {
	vertical-align: top !important;
}

.col-xs-height {
	display: table-cell;
	float: none;
}
