﻿.btngrd {
	display: inline-block;
	padding: 3px 15px;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn2 {
	display: inline-block;
	padding: 3px 12px;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	margin-left: 16px;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	margin: 1px;
}

	.btn:focus,
	.btn:active:focus,
	.btn.active:focus,
	.btn.focus,
	.btn:active.focus,
	.btn.active.focus {
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}

	.btn:hover,
	.btn:focus,
	.btn.focus {
		/*color: #333;*/
		text-decoration: none;
	}

	.btn:active,
	.btn.active {
		background-image: none;
		outline: 0;
		-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	}

	.btn.disabled,
	.btn[disabled],
	fieldset[disabled] .btn {
		cursor: not-allowed;
		filter: alpha(opacity=65);
		-webkit-box-shadow: none;
		box-shadow: none;
		opacity: .65;
	}

	.btn.btn-block {
		width: 100%;
		display: block;
	}

	.btn.btn-icon {
		padding: 10px;
		line-height: 1em;
	}

	.btn .btn-full {
		width: 100%;
	}

	.btn[class*=" bg-"], .btn[class^=bg-] {
		color: #fff;
	}

a.btn.disabled,
fieldset[disabled] a.btn {
	pointer-events: none;
}

.btn-outline-success {
	color: #28a745;
	border-color: #28a745;
	background-color: #fff;
}

	.btn-outline-success:hover {
		color: #fff;
		background-color: #28a745;
		border-color: #28a745;
	}

	.btn-outline-success.focus, .btn-outline-success:focus {
		box-shadow: 0 0 0 .2rem rgba(40,167,69,.5);
	}

	.btn-outline-success.disabled, .btn-outline-success:disabled {
		color: #28a745;
		background-color: transparent;
	}

	.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show > .btn-outline-success.dropdown-toggle {
		color: #fff;
		background-color: #28a745;
		border-color: #28a745;
	}

		.btn-outline-success:not(:disabled):not(.disabled).active:focus, .btn-outline-success:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
			box-shadow: 0 0 0 .2rem rgba(40,167,69,.5);
		}

.btn-circle-arrow {
	border: 1px solid #fff;
	border-radius: 100px;
	position: relative;
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}

	.btn-circle-arrow i {
		font-size: 11px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -5px;
		margin-top: -4px;
	}

.badge, .close {
	font-weight: 700;
	line-height: 1;
}

.close {
	float: right;
	font-size: 1.5rem;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
}

button.close {
	padding: 0;
	background-color: transparent;
	border: 0;
	-webkit-appearance: none;
}

/*btn file*/
.btn.btn-file {
	background-color: #00bcd4;
	color: #FFFFFF;
}

.btn-small {
	padding: 5px 6px;
	min-width: 64px;
	font-size: 11px;
	min-height: 27px;
}

.btn.btn-file > input[type='file'] {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
	width: 100%;
	left: 0;
}