﻿.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-body {
    padding: 6px;
}

.panel-header {
    padding: 4px 10px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #435d7d;
    color: #fff;
}

.panel-title {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
    /*color: #37474f;*/
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    font-weight: bold;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-group {
    margin-bottom: 20px;
}

    .panel-group .panel {
        margin-bottom: 0;
        border-radius: 4px;
    }

.border-dashed {
    color: #76838f;
    border-top: 1px dashed rgb(169, 169, 169);
    margin-bottom: 10px;
}

.border-Top {
    border-top: 1px solid rgb(169, 169, 169);
}