﻿.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

    .fade.in {
        opacity: 1;
    }

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.3);
}

    .modal.fade .modal-dialog {
        -webkit-transition: -webkit-transform .3s ease-out;
        -o-transition: -o-transform .3s ease-out;
        transition: transform .3s ease-out;
        -webkit-transform: translate(0, -25%);
        -ms-transform: translate(0, -25%);
        -o-transform: translate(0, -25%);
        transform: translate(0, -25%);
    }

    .modal.in .modal-dialog {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    height: 100%;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    display: none;
}

    .modal-backdrop.fade {
        filter: alpha(opacity=0);
        opacity: 0;
    }

    .modal-backdrop.in {
        filter: alpha(opacity=50);
        opacity: .5;
    }

.modal-header {
    padding: 5px 15px 0 15px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

    .modal-header .close {
        margin-top: -2px;
    }

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-footer {
    padding: 8px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    background-color: var(--main-modal-footer-area-bc);
}

    .modal-footer .btn + .btn {
        margin-bottom: 0;
        margin-left: 5px;
    }

@media (min-width: 400px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }

    .modal-xs {
        width: 350px;
        margin: 30px auto;
    }

    .modal-lg, .modal-md, .modal-sm, .modal-lm, .modal-kokin {
        width: auto;
        margin: 55px;
    }
}

@media (max-width: 400px) {
    .modal {
        top: 45px;
    }
}

@media (min-width: 550px) {
    .modal-sm {
        width: 500px;
        margin: 30px auto;
    }
}

@media (min-width: 600px) {
    .modal-kokin {
        width: 600px;
        margin: 30px auto;
    }
}

@media (min-width: 769px) {
    .modal-md {
        width: 700px;
        margin: 30px auto;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
        margin: 30px auto;
    }
}

@media (min-width: 1192px) {
    .modal-lm {
        width: 1000px;
        margin: 30px auto;
    }
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group-lg:before,
.form-horizontal .form-group-lg:after,
.btn-toolbar:before,
.btn-toolbar:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-main:before,
.navbar-main:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
    display: table;
    content: " ";
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.form-horizontal .form-group-lg:after,
.nav:after,
.navbar:after,
.navbar-main:after,
.navbar-header:after,
.navbar-collapse:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after {
    clear: both;
}

button.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}

    button.close:hover,
    button.close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: .5;
    }
