﻿.label-error {
    font-size: 12px;
    color: #fd041e;
    font-weight: bold;
    font-family: sans-serif;
}

.error {
    border: 1px solid #d50000;
}
/*picker*/
.picker-wrap {
    box-sizing: border-box;
    background-color: white;
    display: inline-block;
    height: auto;
    display: none;
    overflow: hidden;
    line-height: 1;
    z-index: 103;
}

.picker {
    font-size: 12px;
    font-family: Roboto,sans-serif;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.08), 0 3px 6px rgba(0,0,0,.08);
    transform: translateY(-140px);
    z-index: 104;
}

.picker-head {
    position: relative;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    padding: 10px;
    background-color: #3770a7;
    color: #ffffff;
}

.picker-body {
    width: 180px;
    height: 110px;
    /*width: 235px;
	height: 150px;*/
}

    .picker-body > table {
        border-collapse: collapse;
        width: 100%;
        height: 100%;
        border-spacing: 0;
        table-layout: fixed;
    }

        .picker-body > table > tbody td {
            text-align: center;
            padding: 2px;
            font-weight: 500;
            cursor: pointer;
            border-radius: 50%;
        }

            .picker-body > table > tbody td:hover {
                background-color: #3770a7;
                color: #fff;
            }

.picker-prev {
    position: absolute;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    border-radius: 2px;
}

.picker-next {
    position: absolute;
    right: 0;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    border-radius: 2px;
}

.picker-title {
    border-radius: 2px;
    padding: 0px 2px;
}

    .picker-prev:hover, .picker-next:hover, .picker-title:hover {
        cursor: pointer;
    }

.dia {
    border-radius: 2px;
    color: #ffffff;
    background-color: #3770a7;
    box-shadow: 0px 0px 2px grey;
}

.picker-drop-mask {
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 0;
    background-color: #fff;
    display: none;
}

.text-control-date {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.text-control {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 6px;
    height: 24px;
    text-align: center;
    color: white !important;
    background-color: #3770a7;
    border-color: #ccc;
}

/*TABS*/
section {
    display: none;
    /*padding: 20px 0 0;*/
    padding: 5px 0 0;
    border-top: 1px solid #ddd;
}

.display-none {
    display: none;
}

.tab-label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 12px 12px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

    .tab-label > i.fa {
        font-weight: normal;
        margin-right: 10px;
    }

    .tab-label:hover {
        color: #888;
        cursor: pointer;
    }

input:checked + .tab-label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid #2c5a8d;
    border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7,
#tab8:checked ~ #content8,
#tab9:checked ~ #content9,
#tab10:checked ~ #content10,
#tab11:checked ~ #content11,
#tab12:checked ~ #content12,
#tab13:checked ~ #content13,
#tab14:checked ~ #content14,
#tab15:checked ~ #content15,
#tab16:checked ~ #content16,
#tab17:checked ~ #content17,
#tab18:checked ~ #content18,
#tab19:checked ~ #content19,
#tab20:checked ~ #content20 {
    display: block;
}

@media screen and (max-width: 650px) {
    .tab-label {
        font-size: 0;
    }

        .tab-label > i.fa {
            margin: 0;
            font-size: 18px;
        }
}

@media screen and (max-width: 400px) {
    .tab-label {
        padding: 15px;
    }
}
/*CARDS DASHBOARD*/
/*graficos*/
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

    .box.box-primary {
        border-top-color: #3c8dbc;
    }

    .box.box-danger {
        border-top-color: #dd4b39;
    }

    .box.box-info {
        border-top-color: #00c0ef;
    }

    .box.box-success {
        border-top-color: #00a65a;
    }

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

    .box-header.with-border {
        border-bottom: 1px solid #f4f4f4;
    }

    .box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
        display: inline-block;
        font-size: 18px;
        margin: 0;
        line-height: 1;
    }

.pull-right {
    float: right !important;
}

.pull-right {
    float: right;
}

.box-header > .box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.card-box {
    padding: 1.5rem;
    -webkit-box-shadow: 0 0.75rem 6rem rgb(214, 216, 218);
    box-shadow: 0 0.75rem 6rem rgb(214, 216, 218);
    border-radius: .25rem;
    margin-bottom: 10px;
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}

.float-right {
    float: right !important;
}

.dropdown-toggle {
    white-space: nowrap;
}

.card-box .card-drop {
    color: #98a6ad;
    font-size: 20px;
    display: inline-block;
    line-height: 1px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .25rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e7eef1;
    border-radius: .25rem;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-menu {
    -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    -webkit-animation-name: DropDownSlide;
    animation-name: DropDownSlide;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    margin: 0;
    font-size: .9rem;
    position: absolute;
    z-index: 1000;
}

.dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
}

.dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top] {
    right: auto;
    bottom: auto;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .375rem 1.2rem;
    clear: both;
    font-weight: 400;
    color: #6c757d;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.mt-0, .my-0 {
    margin-top: 0 !important;
}

.mb-3, .my-3 {
    margin-bottom: 1.5rem !important;
}

.dropify-wrapper, .dropify-wrapper .dropify-clear {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial;
}

.dropify-wrapper {
    display: block;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 200px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 22px;
    color: #777;
    background-color: #FFF;
    background-image: none;
    text-align: center;
    border: 2px solid #E5E5E5;
    -webkit-transition: border-color .15s linear;
    transition: border-color .15s linear;
}

.dropify-wrapper {
    border: 2px dashed rgba(50,58,70,.3);
    background: #fff;
    border-radius: 6px;
}

    .dropify-wrapper:hover {
        background-size: 30px 30px;
        background-image: -webkit-linear-gradient(135deg,#F6F6F6 25%,transparent 25%,transparent 50%,#F6F6F6 50%,#F6F6F6 75%,transparent 75%,transparent);
        background-image: linear-gradient(-45deg,#F6F6F6 25%,transparent 25%,transparent 50%,#F6F6F6 50%,#F6F6F6 75%,transparent 75%,transparent);
        -webkit-animation: stripes 2s linear infinite;
        animation: stripes 2s linear infinite;
    }

@keyframes stripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -70px 0px;
    }
}

.dropify-wrapper .dropify-message {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

    .dropify-wrapper .dropify-message span.fa-cloud-upload {
        font-size: 50px;
        color: #CCC;
    }

    .dropify-wrapper .dropify-message p {
        margin: 5px 0 0;
    }

        .dropify-wrapper .dropify-message p.dropify-error {
            color: #F34141;
            font-weight: 700;
            display: none;
        }

.dropify-wrapper .dropify-loader {
    position: absolute;
    top: 15px;
    right: 15px;
    display: none;
    z-index: 9;
}

.dropify-wrapper .dropify-errors-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: rgba(243,65,65,.8);
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s linear .15s,opacity .15s linear;
    transition: visibility 0s linear .15s,opacity .15s linear;
}

    .dropify-wrapper .dropify-errors-container ul {
        padding: 10px 20px;
        margin: 0;
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

.dropify-wrapper input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 5;
}

.dropify-wrapper .dropify-clear {
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 7;
    top: 10px;
    right: 10px;
    background: 0 0;
    border: 2px solid #FFF;
    text-transform: uppercase;
    font-size: 11px;
    padding: 4px 8px;
    font-weight: 700;
    color: #FFF;
    -webkit-transition: all .15s linear;
    transition: all .15s linear;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.dropify-wrapper.has-error .dropify-message .dropify-error, .dropify-wrapper.has-preview .dropify-clear {
    display: block;
}

.dropify-wrapper .dropify-clear:hover {
    background: rgba(255,255,255,.2);
}

.dropify-wrapper:hover .dropify-clear, .dropify-wrapper:hover .dropify-preview .dropify-infos {
    opacity: 1;
}

.dropify-wrapper .dropify-preview .dropify-render img {
    top: 50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    position: relative;
    max-width: 100%;
    max-height: 100%;
    background-color: #FFF;
    -webkit-transition: border-color .15s linear;
    transition: border-color .15s linear;
}

.dropify-wrapper .dropify-preview {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #FFF;
    padding: 5px;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-align: center;
}

    .dropify-wrapper .dropify-preview .dropify-infos {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        background: rgba(0,0,0,.7);
        opacity: 0;
        -webkit-transition: opacity .15s linear;
        transition: opacity .15s linear;
    }

        .dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner {
            position: absolute;
            top: 50%;
            -webkit-transform: translate(0,-40%);
            transform: translate(0,-40%);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            width: 100%;
            padding: 0 20px;
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
        }

            .dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p {
                padding: 0;
                margin: 0;
                position: relative;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #FFF;
                text-align: center;
                line-height: 25px;
                font-weight: 700;
            }

                .dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-filename span.fa-cloud-upload {
                    margin-right: 2px;
                }

                .dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message {
                    margin-top: 15px;
                    padding-top: 15px;
                    font-size: 12px;
                    position: relative;
                    opacity: .5;
                }

.Tip {
    position: absolute;
    float: left;
    min-width: 30px;
    max-width: 300px;
    padding: 5px 18px 6px;
    border-radius: 2px;
    background-color: #fff;
    color: black;
    font-size: 14px;
    font-family: Calibri;
    text-shadow: 0 1px 0 #fff;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
    letter-spacing: .06em;
    box-shadow: 0 0 3px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.5);
    -webkit-transform: all .3s;
    -moz-transform: all .3s;
    -ms-transform: all .3s;
    -o-transform: all .3s;
    transform: all .3s;
    pointer-events: none;
    z-index: 1000;
}

.hide {
    display: none !important;
    pointer-events: none;
}
/*CONFIGURACION DE PERMISOS Y PERFILES*/
.contenedor {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.tabla-general {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

    .tabla-general.tabla-corta {
        width: 100%;
        max-width: 60%;
        margin: 0 auto;
    }

.tabla-FilaCab {
    background-color: whitesmoke;
    color: #212121;
    font-weight: bold;
    border-left: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
}

.tabla-FilaCuerpo {
    color: #757575;
}

.tabla-general > tbody > tr > td {
    padding: 6px;
    line-height: 1.42857143;
    vertical-align: top;
    text-align: left;
    border-bottom: 1px solid #BDBDBD;
}

.font-sizeIcon {
    font-size: 18px;
}

.checkbox-btn {
    position: absolute;
    transform: translate(-11%, -6%);
    width: 42px;
    height: 19px;
}

    .checkbox-btn input {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        cursor: pointer;
        opacity: 0;
        z-index: 1;
    }

    .checkbox-btn div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        box-shadow: 0 0px 1px rgba(0,0,0,0.5);
        overflow: hidden;
    }

        .checkbox-btn div .slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 21px;
            height: 35px;
            background: #ffffff;
            transition: 0.5s;
        }

    .checkbox-btn input:checked + div .slide {
        transform: translate(60px);
    }

    .checkbox-btn .slide::before {
        content: 'ON';
        position: absolute;
        top: 0px;
        left: -78PX;
        padding-left: 19px;
        text-align: center;
        width: 53px;
        height: 100%;
        line-height: 23px;
        background: #09b509;
        font-weight: bold;
        color: #fff;
        font-size: 9px;
    }

    .checkbox-btn .slide::after {
        content: 'OFF';
        position: absolute;
        top: 0;
        right: -60px;
        text-align: center;
        width: 73px;
        height: 100%;
        line-height: 23px;
        background: #d60e31;
        font-weight: bold;
        color: #fff;
        padding-right: 37px;
        font-size: 9px;
    }

.btn-app {
    border-radius: 3px;
    position: relative;
    padding: 6px 5px;
    margin: 0 0 9px 0px;
    min-width: 45px;
    height: 33px;
    text-align: center;
    color: #666;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    font-size: 12px;
}

    .btn-app > .fa {
        font-size: 16px;
        display: block;
    }

.btn-app-celeste {
    color: #fff !important;
    border: 1px solid #178bab !important;
    background-color: #178bab !important;
}

.btn-app-chocolate {
	color: #fff !important;
	border: 1px solid #575757 !important;
	background-color: #575757 !important;
}

.btn-app-most {
    color: #fff !important;
    border: 1px solid #6a6a6b !important;
    background-color: #6a6a6b !important;
}

.btn-app-fucsia {
    color: #fff !important;
    border: 1px solid #4da74d !important;
    background-color: #4da74d !important;
}
