﻿.widget-8 {
	height: 145px;
}

@media (max-width: 991px) {
	.widget-8, .widget-9, .widget-10 {
		height: 180px !important;
	}
}

.widget-8 .row-xs-height:first-child {
	height: 41px;
}
.card, .navbar-nav {
	display: -ms-flexbox;
}
.widget-8-chart {
	height: 100px;
	width: 50%;
	bottom: 0;
	position: absolute;
	right: 0;
}
.widget-9 {
	height: 145px;
}

.card {
	position: relative;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}

.card {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	position: relative;
	margin-bottom: 10px;
	width: 100%;
	word-wrap: none;
}

.card-footer, .card-header {
	padding: .75rem 1.25rem;
	background-color: rgba(0,0,0,.03);
}

.card-header, .card-subtitle, .card-text:last-child {
	margin-bottom: 0;
}

.card-header {
	border-bottom: 1px solid rgba(0,0,0,.125);
}

	.card-header:first-child {
		border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
	}

.card .card-header {
	background: 0 0;
	border-radius: 0;
	border-bottom: 0;
	padding: 20px 20px 7px;
	position: relative;
	z-index: 3;
	min-height: 48px;
}

.card-title {
	margin-bottom: .75rem;
}

.card .card-header .card-title {
	font-family: montserrat;
	text-transform: uppercase;
	display: inline-block;
	letter-spacing: .06em;
	font-size: 10.5px;
	font-weight: 500;
	margin: 0;
	padding: 0;
	line-height: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-stroke: 0;
	filter: alpha(opacity=40);
	-webkit-transition: opacity .3s ease;
	transition: opacity .3s ease;
}

.card .card-header .card-controls {
	float: right;
	margin-top: -3px;
}

	.card .card-header .card-controls ul {
		margin: 0;
		padding: 0;
	}

		.card .card-header .card-controls ul li {
			display: inline-block;
			list-style: none;
			line-height: 0;
		}

.card-header a:not(.btn) {
	color: #575757 !important;
	opacity: .4;
	padding-top: 10px;
	padding-bottom: 10px;
}

	.card-header a:not(.btn).card-refresh {
		-webkit-transition: opacity .3s ease;
		transition: opacity .3s ease;
	}

.card .card-header .card-controls:after {
	content: "";
	display: table;
	clear: both;
}

.card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
}

.card-body {
	padding: 15px;
}

.card .card-body {
	padding: 20px;
}

.card .card-header + .card-body {
	padding-top: 0;
}

.card.card-condensed .card-header {
	padding: 13px 13px 0;
	min-height: 30px;
}

.card.card-condensed .card-body {
	padding: 13px;
}

.card .card-body.no-padding .row {
	margin-left: 0;
	margin-right: 0;
}

.card.card-default {
	border: 1px solid rgba(230,230,230,.7);
}

	.card.card-default > .card-header {
		color: #333;
	}

@media (max-width: 991px) {
	.card {
		height: auto !important;
	}
}
