﻿/*.collapsing, .modal, .modal-open, .progress {
	overflow: hidden;
}*/
.progress {
	display: -ms-flexbox;
	display: flex;
	height: 1rem;
	font-size: .75rem;
	background-color: #e9ecef;
	border-radius: .25rem;
}

.progress {
	height: 4px;
	background-color: rgba(87,87,87,.2);
	background-image: none;
	box-shadow: none;
	border-radius: 0;
	margin-bottom: 20px;
}

.progress {
	display: -ms-flexbox;
	display: flex;
	height: 1rem;
	font-size: .75rem;
	background-color: #e9ecef;
	border-radius: .25rem;
}

.progress {
	height: 4px;
	background-color: rgba(87,87,87,.2);
	background-image: none;
	box-shadow: none;
	border-radius: 0;
	margin-bottom: 20px;
}
	.progress.progress-small {
		height: 3px;
	}

.widget-9 .progress {
	background: rgba(0,0,0,.1);
}

.progress-bar {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	color: #fff;
	text-align: center;
	background-color: #007bff;
	transition: width .6s ease;
}

.progress-bar {
	box-shadow: none;
	border-radius: 0;
	background-color: #575757;
	background-image: none;
	-webkit-transition: all 1000ms cubic-bezier(.785,.135,.15,.86);
	transition: all 1000ms cubic-bezier(.785,.135,.15,.86);
	-webkit-transition-timing-function: cubic-bezier(.785,.135,.15,.86);
	-moz-transition-timing-function: cubic-bezier(.785,.135,.15,.86);
	-ms-transition-timing-function: cubic-bezier(.785,.135,.15,.86);
	-o-transition-timing-function: cubic-bezier(.785,.135,.15,.86);
	transition-timing-function: cubic-bezier(.785,.135,.15,.86);
}

.progress-bar-white {
	background-color: #fff;
	background-image: none;
}