﻿svg {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: block;
	width: 100%;
	height: 100%;
}

svg {
	width: 100%;
	height: 100%;
}

	svg:not(:root) {
		overflow: hidden;
	}

.nvd3 .nv-axis {
	pointer-events: none;
}

.nvd3 .nv-groups path.nv-line {
	fill: none;
	stroke-width: 1.5px;
}

.line-chart .nvd3 .nv-groups path.nv-line {
	stroke-opacity: .3;
}

.line-chart[data-stroke-width="2"] .nvd3 .nv-groups path.nv-line {
	stroke-width: 2px;
}

.line-chart[data-line-color=black] .nvd3 line.nv-guideline, .line-chart[data-line-color=black] .nvd3 .nv-groups path.nv-line, .line-chart[data-line-color=black] .nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
	stroke: #000;
}

.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
	fill-opacity: 0;
	stroke-opacity: 0;
}

.line-chart[data-points=true] .nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
	fill-opacity: 1;
	stroke-opacity: .5;
}

.line-chart[data-stroke-width="2"] .nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
	stroke-width: 2px;
}

.line-chart[data-point-color=warning] .nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
	fill: #f7cf5f;
}

.nvd3 .nv-axis line {
	fill: none;
	stroke: #e5e5e5;
	shape-rendering: crispEdges;
}

.line-chart .nvd3 .nv-axis line {
	stroke-opacity: .5;
}

.line-chart[data-x-grid=false] .nv-x .tick line {
	display: none;
}

svg text {
	font: 400 12px Arial;
}

.line-chart .tick text, .line-chart .nvd3 .nv-axis .nv-axisMaxMin text {
	fill: rgba(87,87,87,.5);
	font-family: montserrat;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 400;
}

.line-chart[data-x-grid=false] .nv-x .tick line {
	display: none;
}

.line-chart .domain {
	opacity: 0;
}

.nvd3 .nv-axis path {
	fill: none;
	stroke: #000;
	stroke-opacity: .75;
	shape-rendering: crispEdges;
}

	.nvd3 .nv-axis path.domain {
		stroke-opacity: .75;
	}

.nvd3 .nv-axis.nv-x path.domain {
	stroke-opacity: 0;
}

.nvd3 .nv-axis .nv-axisMaxMin text {
	font-weight: 700;
}

.nvd3 .nv-interactiveGuideLine {
	pointer-events: none;
}

.nvtooltip {
	position: absolute;
	background-color: rgba(255,255,255,1);
	padding: 1px;
	border: 1px solid rgba(0,0,0,.2);
	z-index: 10000;
	font-family: Arial;
	font-size: 13px;
	text-align: left;
	pointer-events: none;
	white-space: nowrap;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.line-chart .nv-pointer-events-none {
	font-size: 12px;
}

.nvd3 line.nv-guideline {
	stroke: #ccc;
}

.line-chart .nvd3 line.nv-guideline {
	stroke-width: 30px;
	stroke-opacity: .04;
	stroke: #000;
}

.line-chart .nvtooltip.xy-tooltip.nv-pointer-events-none {
	border-color: rgba(0,0,0,.12);
	box-shadow: 0 0 6px rgba(0,0,0,.1);
}

.nvtooltip table {
	margin: 6px;
	border-spacing: 0;
}

.line-chart .nvtooltip table {
	margin: 12px 10px 14px 15px;
}

.nvtooltip table td {
	padding: 2px 9px 2px 0;
	vertical-align: middle;
}

b, strong {
	font-weight: bolder;
}

.line-chart thead .nv-pointer-events-none strong {
	color: #a3a3a3;
}

.nvtooltip table td.legend-color-guide div {
	width: 8px;
	height: 8px;
	vertical-align: middle;
}

.line-chart .nvtooltip table td.legend-color-guide div {
	border-radius: 100px;
}

.nvtooltip table td.key {
	font-weight: 400;
}

.nvtooltip table td.value {
	text-align: right;
	font-weight: 700;
}

.line-chart .nv-pointer-events-none .value.nv-pointer-events-none {
	font-family: montserrat;
	font-weight: 400;
	font-size: 11px;
	color: #a3a3a3;
}

.nvd3 .nv-groups .nv-point.hover {
	stroke-width: 20px;
	stroke-opacity: .5;
}

.nvd3 .nv-scatter .nv-point.hover {
	fill-opacity: 1;
}

.nvd3.nv-scatter .nv-groups .nv-point.hover, .nvd3 .nv-groups .nv-point.hover {
	stroke-width: 7px;
	fill-opacity: .95 !important;
	stroke-opacity: .95 !important;
}

.line-chart .nvd3.nv-scatter .nv-groups .nv-point.hover, .line-chart .nvd3 .nv-groups .nv-point.hover {
	fill: inherit !important;
	stroke: inherit !important;
}

.nvd3 .nv-background {
	fill: white;
	fill-opacity: 0;
}

/*GRAFICA CARD 01*/


.flex-column {
	-ms-flex-direction: column !important;
	flex-direction: column !important;
}

.flex-column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.widget-10 {
	height: 145px;
}

.p-t-40 {
	padding-top: 40px !important;
}

/*.windows h4 {
	font-size: 23px;
	line-height: 32px;
}*/


.p-t-10 {
	padding-top: 10px !important;
}

.full-width {
	width: 100%;
}

.hidden-xlg {
	display: block;
}

@media (min-width: 1824px) {
	.hidden-xlg {
		display: none !important;
	}
}

.dropdown-menu > li {
	padding: 0;
}

.p-l-5 {
	padding-left: 5px !important;
}

.m-b-5 {
	margin-bottom: 5px;
}

.m-l-50 {
	margin-left: 50px;
}

.list-inline, .list-unstyled {
	padding-left: 0;
	list-style: none;
}

	.list-inline > li {
		display: inline-block;
		padding-right: 5px;
		padding-left: 5px;
	}



.widget-12 .list-inline a {
	padding: 3px 4px;
	border-radius: 3px;
	opacity: .7;
}

.widget-12 .list-inline .active a {
	opacity: 1;
}

.text-center {
	text-align: center !important;
}

.widget-12 .nvd3-line svg {
	height: 316px;
}



table {
	border-collapse: collapse;
}

.widget-12 .widget-12-search {
	margin-top: -3px;
}

.btn-default, .btn-default:focus {
	color: #5e5e5e;
	background-color: #fff;
	border-color: #e7e7e7;
}

.btn-xs, .btn-group-xs > .btn {
	padding: 2px 9px;
	font-size: 10.5px;
}


.padding-20 {
	padding: 20px !important;
}

.m-t-15 {
	margin-top: 15px;
}



.widget-12 .company-stat-boxes .close {
	line-height: 0;
}

.pg-close:before {
	content: "\e60a";
}

.label-important, .label-danger {
	background-color: #f35958;
	color: #fff;
}

.text-primary {
	color: rgb(243, 89, 88) !important;
}

.text-complete {
	color: #37b0e9 !important;
}

.label-success {
	background-color: #1dbb99;
	color: #fff;
}

.visible-xlg {
	display: none;
}

@media (min-width: 1824px) {
	.visible-xlg {
		display: block !important;
	}
}

@media (max-width: 1824px) {
	.m-lay {
		margin-top: 5px;
	}
}

.no-padding {
	padding: 0 !important;
}

.btn-group-toggle > .btn, .btn-group-toggle > .btn-group > .btn, .custom-control-label, .custom-file, .dropdown-header, .input-group-text, .nav {
	margin-bottom: 0;
}

nav, .navbar {
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
}

.nav-tabs {
	border-bottom: 1px solid #dee2e6;
}

.nav-tabs {
	position: relative;
}

.nav-tabs-simple {
	border-bottom: 0;
}

.nav-tabs > li {
	padding-left: 0;
	padding-right: 0;
}

.nav-tabs-simple > li {
	margin-bottom: 0;
}

.nav-tabs .nav-item {
	margin-bottom: -1px;
}

.p-t-5 {
	padding-top: 5px !important;
}

.nav > li > a {
	padding: 10px 15px;
}

/*aun por definir esta grafica*/
.nav-tabs > li > a {
	display: block;
	border-radius: 0;
	padding: 13px 20px;
	margin-right: 0;
	font-family: montserrat;
	font-weight: 500;
	letter-spacing: .06em;
	color: rgba(87,87,87,.7);
	font-size: 10.5px;
	min-width: 70px;
	text-transform: uppercase;
	border-color: transparent;
	position: relative;
	line-height: 1.7em;
}

br {
	line-height: normal;
	clear: both;
}

.nav-tabs-simple > li > a:after {
	position: absolute;
	-webkit-transition: all .1s linear 0s;
	transition: all .1s linear 0s;
	-webkit-backface-visibility: hidden;
	width: 100%;
	display: block;
	background-color: #f35958;
	height: 0;
	content: '';
	left: 0;
	z-index: 125;
	top: 100%;
}

.nav-tabs-simple > li > a.active:after, .nav-tabs-simple > li > a:hover:after {
	height: 3px;
}

.nav-tabs-simple:after {
	content: '';
	border-bottom: 1px solid rgba(0,0,0,.1);
	width: 100%;
	position: absolute;
	bottom: -2px;
	z-index: 120;
	left: 0;
}

.nav-tabs ~ .tab-content {
	overflow: hidden;
	padding: 15px;
}

.tab-content > .tab-pane {
	display: none;
}

.tab-content > .active {
	display: block;
}

.full-width {
	width: 100%;
}

.widget-15 #widget-15-tab-1 > div {
	height: 170px;
}

.rickshaw_graph {
	position: relative;
}

	.rickshaw_graph svg {
		display: block;
		overflow: hidden;
	}

	.rickshaw_graph .detail {
		pointer-events: none;
		position: absolute;
		top: 0;
		z-index: 2;
		background: rgba(0,0,0,.1);
		bottom: 0;
		width: 1px;
		transition: opacity .25s linear;
		-moz-transition: opacity .25s linear;
		-o-transition: opacity .25s linear;
		-webkit-transition: opacity .25s linear;
	}

		.rickshaw_graph .detail.inactive {
			opacity: 0;
		}

.rickshaw-chart.rickshaw_graph .detail {
	padding-left: 15px;
	transform: translateX(-15px);
	width: 30px;
	background: rgba(0,0,0,.04);
	right: -15px;
}

.rickshaw_graph .detail .x_label {
	font-family: Arial,sans-serif;
	border-radius: 3px;
	padding: 6px;
	opacity: .5;
	border: 1px solid #e0e0e0;
	font-size: 12px;
	position: absolute;
	background: #fff;
	white-space: nowrap;
}

	.rickshaw_graph .detail .x_label.left {
		left: 0;
	}

.rickshaw-chart.rickshaw_graph .detail .item, .rickshaw-chart.rickshaw_graph .detail .x_label {
	transform: translateX(15px);
}

.rickshaw-chart.rickshaw_graph .detail .x_label {
	display: none;
}

.rickshaw_graph .detail .item {
	position: absolute;
	z-index: 2;
	border-radius: 3px;
	padding: .25em;
	font-size: 12px;
	font-family: Arial,sans-serif;
	opacity: 0;
	background: rgba(0,0,0,.4);
	color: #fff;
	border: 1px solid rgba(0,0,0,.4);
	margin-left: 1em;
	margin-right: 1em;
	margin-top: -1em;
	white-space: nowrap;
}

	.rickshaw_graph .detail .item.active {
		opacity: 1;
	}

	.rickshaw_graph .detail .item.left {
		left: 0;
	}

	.rickshaw_graph .detail .item.active {
		opacity: 1;
		background: rgba(0,0,0,.8);
	}

.rickshaw-chart.rickshaw_graph .detail .item {
	line-height: 1.4;
	padding: .5em;
}

.rickshaw-chart.rickshaw_graph .detail_swatch {
	float: right;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px 0 0;
}

.rickshaw-chart.rickshaw_graph .detail .date {
	font-size: 11px;
	color: #a0a0a0;
	opacity: .5;
}

.rickshaw_graph .detail .item:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	content: "";
	border: 5px solid transparent;
}

.rickshaw_graph .detail .item.left:after {
	top: 1em;
	left: -5px;
	margin-top: -5px;
	border-right-color: rgba(0,0,0,.8);
	border-left-width: 0;
}

.rickshaw_graph .detail .dot {
	width: 4px;
	height: 4px;
	margin-left: -3px;
	margin-top: -3.5px;
	border-radius: 5px;
	position: absolute;
	box-shadow: 0 0 2px rgba(0,0,0,.6);
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	background: #fff;
	border-width: 2px;
	border-style: solid;
	display: none;
	background-clip: padding-box;
}

	.rickshaw_graph .detail .dot.active {
		display: block;
	}

.rickshaw-chart.rickshaw_graph .detail:after {
	content: "";
	width: 1px;
	background: rgba(0,0,0,.2);
	height: 100%;
	display: block;
}
